[2017-10-30 20:07] joenio opened #1 "testar e avaliar o plugin noosfero não-oficial oai-pmh"
Um plugin para exportar os dados do Noosfero em formato OAI-PMH foi desenvolvido durante o trabalho de conclusão de curso[1] de Luiz Fernando de Freitas Matos em 2014, aluno de engenharia de software UnB, Gama. Este plugin não chegou a ser utilizado em produção mas na época que foi desenvolvido funcionou para o contexto do trabalho do Luiz, precisamos agora recuperar o código desenvolvido por ele[

[2017-11-06 14:00] joenio opened #2 "página de categoria com vazamento de HTML"
* no final da página clicar em "Educação"
* ver print em anexo

![captura de tela de 2017-11-06 11-56-53](https://user-images.githubusercontent.com/44172/32444403-aa08cb46-c2e9-11e7-81ab-5132398c0ce0.png)

* proposta de soluçao, ver commit 397b89a17c1d2515de9854f68cdabfe5e0e6acb2

[2017-11-06 14:52] joenio opened #3 "alterar banner brasil+jovem na capa do portal"
![captura de tela de 2017-11-06 12-36-55](https://user-images.githubusercontent.com/44172/32446186-33ccc850-c2ef-11e7-9e79-20157ebfd053.png)

adicionar outro banner ao lado do banner brasil+jovem (imagem acima), reduzir o banner brasil+jovem, diego barreto preparou as imagens novas (em anexo abaixo).

![botao_site_b j](https://user-images.githubusercontent.com/44172/32446286-8dbc9ee4-c2ef-11e7-91b

[2017-11-06 15:28] joenio opened #4 "fazer cadastro no portal da juventude.gov.br"
@maxbborges @caiomnt

após o cadastro irei adicionar vocês como administrador.

[2017-11-06 17:04] maxbborges commented on #3
Inserido os novos banners com  dimensões de 450px e margin de 12.5px para cada lado de cada imagem.

[2017-11-06 17:07] mnt-c commented on #3
Publicado no site do juventude.

[2017-11-06 17:19] mnt-c commented on #4
Pronto!

[2017-11-06 18:01] maxbborges commented on #2
O bug já foi resolvido no commit 2ddfa076a5

[2017-11-06 18:01] #2 closed, assigned to FabioDsg, maxbborges, mnt-c

[2017-11-06 18:02] joenio commented on #3
link para o banner startups: http://juventude.gov.br/startups/consulta-plano-nacional-de-desenvolvimento

[2017-11-06 18:07] maxbborges commented on #3
Link do banner StartUp alterado para o novo.

[2017-11-06 18:07] #3 closed, assigned to maxbborges, mnt-c

[2017-11-06 18:07] maxbborges commented on #4
Pronto.

[2017-11-06 18:07] #4 closed, assigned to maxbborges, mnt-c

[2017-11-06 18:27] joenio opened #5 "Not possible to preview imagens on the media panel"
resolver bug relatado no upstream do noosfero:

https://gitlab.com/noosfero/noosfero/issues/276

@maxbborges @caiomnt

[2017-11-08 18:05] joenio opened #6 "adicionar dois novos banners no "final" da página inicial"
pegar detalhes com michell do posicionamento exato dos banners e criar um bloco HTML em editar blocos laterais no painel de administração.

[2017-11-08 18:08] joenio commented on #5
não conseguimos reproduzir esse bug

[2017-11-08 18:08] #5 closed, assigned to maxbborges, mnt-c

[2017-11-08 18:16] joenio opened #7 "avaliar e testar usabilidade do plugin custom_forms"
fazer o setup local do noosfero, colocar o plugin pra funcionar, testar a usabilidade, verificar se atende para formulários simples que são demandas comuns da secretaria

[2017-11-08 18:20] joenio commented on #7
este plugin está junto ao repositório oficial do noosfero:

* https://gitlab.com/noosfero/noosfero/tree/master/plugins/custom_forms

[2017-11-08 18:20] joenio commented on #7
este plugin está junto ao repositório oficial do noosfero:

* https://gitlab.com/noosfero/noosfero/tree/master/plugins/custom_forms

para entender melhor a arquitetura dos plugins no noosfero:

* http://noosfero.org/bin/view/Development/Plugins

[2017-11-08 18:42] joenio commented on #7
este plugin está junto ao repositório oficial do noosfero:

* https://gitlab.com/noosfero/noosfero/tree/master/plugins/custom_forms

para entender melhor a arquitetura dos plugins no noosfero:

* http://noosfero.org/bin/view/Development/Plugins

[2017-11-08 18:42] joenio commented on #7
este plugin está junto ao repositório oficial do noosfero:

* https://gitlab.com/noosfero/noosfero/tree/master/plugins/custom_forms

para entender melhor a arquitetura dos plugins no noosfero:

* http://noosfero.org/bin/view/Development/Plugins

[2017-11-09 13:17] joenio opened #8 "investigar lentidão do novo frontend Angular2"
testar se o problema relatado abaixo foi realmente resolvido após migração para angular2:

* https://gitlab.com/noosfero-themes/angular-theme/issues/585

[2017-11-09 13:43] joenio opened #9 "bug com tema de ícone awesome no tema default do noosfero"
validar se o bug abaixo ainda ocorre e resolver em caso positivo

* https://gitlab.com/noosfero/noosfero/issues/40

após resolver s submeter ao upstream do noosfero, vamos sugerir mudar o tema de ícone padrão do noosfero para ser o awesome.

[2017-11-10 12:49] #6 closed, assigned to FabioDsg, luucilia

[2017-11-10 16:43] joenio opened #10 "reduzir espaçamento superior e esquerdo do menu de categorias"
editar CSS do portal e remover o espaçamento indicado na imagem abaixo:

![photo_2017-11-10_14-30-30](https://user-images.githubusercontent.com/44172/32668503-f4128658-c624-11e7-8b75-55a3d1647be3.jpg)

[2017-11-10 18:47] mnt-c commented on #10
Joênio segue os esboços da resolução:
[code]

[2017-11-13 17:42] mnt-c commented on #7
Consegui utilizar o custom forms

![desktop 1_045](https://user-images.githubusercontent.com/18350825/32740128-12a51a16-c889-11e7-9da5-66df726df58e.png)

[2017-11-13 17:45] mnt-c commented on #7
Ele requer um campo de para inserir usuário e email (pode ser uma qualquer) por default, caso não esteja com uma conta logada.

Não possui upload de arquivos somente tem campos para inserção de texto e de seleção de dados pré definidos.

[2017-11-13 17:48] mnt-c commented on #7
Ele gera um relatório de respostas e gera um arquivo .CSV, porém quando é aberto o caminho com o .CSV é gerado um erro na tela:

![desktop 1_044](https://user-images.githubusercontent.com/18350825/32740427-111512ea-c88a-11e7-901e-5e9c1ca003cc.png)

Erro gerado ao acessar o CSV:

![desktop 1_043](https://user-images.githubusercontent.com/18350825/32740440-1c055a70-c88a-11e7-8ad0-df400520b7e7.png)

[2017-11-13 18:21] joenio commented on #10
o firewall WAF de aplicação bloqueou a edição do bloco de HTML, enviamos email solicitando desbloqueio, aguardando liberação para tentar novamente.

[2017-11-13 18:36] joenio opened #11 "corrigir erro no plugin custom_forms ao exportar arquivo csv"
ver comentário https://github.com/IBICT/noosfero/issues/7#issuecomment-344000514 da issue #7 para mais detalhes.

[2017-11-13 18:40] joenio opened #12 "alinhar campos do formulário gerado pelo plugin custom_form"
os campos do formulário do plugin custom_form estão desalinhadis, ver imagem em https://github.com/IBICT/noosfero/issues/7#issuecomment-344000514, corrigir o alinhamento e manter os campos com alinhamento correto.

[2017-11-14 18:14] maxbborges commented on #12
Na realidade, a parte com problema de alinhamento é essa: https://github.com/IBICT/noosfero/issues/7#issuecomment-343998697

[2017-11-14 19:20] maxbborges opened #13 "Erro nas imagens do formulario"
Corrigir erro na visualizaçao/apresentação da imagem upada na criação de um novo formulario. Onde ao exibir a imagem na pagina não é a imagem selecionada e sim uma imagem com erro.

[2017-11-16 23:00] joenio opened #14 "criar relatório de acessos ao portal da juventude"
1. acessar o awstats do portal da juventude: http://weblog.presidencia.gov.br/awstats/awstats.pl?config=www.juventude.gov.br
1. exportar os dados em arquivo pdf, imagem, etc (escolher o formato que desejar) do período de janeiro até hoje
1. enviar os dados para jaqueline

[2017-11-16 23:05] joenio commented on #7
estou fechando esta issue já que criamos duas novas issues com a avaliação feita aqui.

[2017-11-16 23:05] #7 closed, assigned to maxbborges, mnt-c

[2017-11-16 23:10] joenio commented on #10
favor tentar novamente, o firewall foi configurado para não mais bloquear este código.

[2017-11-16 23:24] joenio opened #15 "avaliar sugestão de melhorias do relatório feito sobre o participatório"
- Relação de melhorias sugeridas para a área técnica:
[code]

[2017-11-17 00:03] joenio opened #16 "erro ao aceitar convite para entrar em comunidade secreta"
ao aceitar uma pessoa como membro de uma comunidade secreta ta dando erro de "community não pode ter integrantes"

solicitar detalhes do erro com Nayanne/DITEC

[2017-11-17 14:54] joenio commented on #14
@FabioDsg testou o acesso da rede da SNJ e confirmou que é possível acessar o awstats diretamente de lá, então não será preciso exportar os dados, basta passar para jaqueline as informações de como acessar o awstats.

[2017-11-17 16:02] maxbborges commented on #10
Foram feitos alterações no CSS das paginas: Home, Juventude Viva, Participatorio, StartUp e IDJovem. Incluindo o código da https://github.com/IBICT/noosfero/issues/10#issuecomment-343554610. Nas comunidades, foi necessário incluir um novo bloco de HTML Puro no fim dos blocos laterais.

[2017-11-17 16:02] #10 closed, assigned to maxbborges, mnt-c

[2017-11-17 17:42] mnt-c commented on #14
Entrei em contato com a jaqueline e acompanhei junto com ela alguns dos relatórios.

[2017-11-21 13:14] FabioDsg opened #17 "Erro ao clicar no botão ativar/desativar comentários"
Ao clicar no botão ativar/desativar comentários do formulário http://juventude.gov.br/startups/consulta-plano-nacional-de-desenvolvimento/etapa-1/diagnostico-do-ecossistema-empreendedor#.WfoAM9WnEdU
é gerado um código html extra e o mesmo espirra na tela como visto nas imagens abaixo:

![bugplugincomment_02](https://user-images.githubusercontent.com/8026759/33073184-392a9032-cea9-11e7-8b09-a54eb91

[2017-11-21 13:36] FabioDsg commented on #14
Acredito que esta Issue pode ser fechada considerando que o proposto foi cumprido. Aguardando um ok do @caiomnt  e/ou @joenio.

[2017-11-21 17:04] mnt-c commented on #14
Acredito também que o objetivo foi atingido, pois a Jaqueline confirmou que recebeu as informações do Fabio e mesma consegue acessar o awstats do portal, vou fechar a issue então no caso.

[2017-11-21 17:04] #14 closed, assigned to FabioDsg, mnt-c

[2017-11-21 18:22] maxbborges opened #18 "Modificar Pagina Brasil Mais Jovem"
Editar a pagina Brasil mais jovem: http://juventude.gov.br/profile/brasil-mais-jovem , para a mesma estrutura da pagina da pagina ID Jovem: http://juventude.gov.br/profile/idjovem , com Banner, menu e imagem de fundo.

Para encontrar a pagina do brasil mais jovem é necessário ir ao final da pagina, na parte de comunidades, clicar em ver todas e procurar a comunidade do brasil mais jovem. Lembrando

[2017-11-22 12:23] joenio opened #19 "criar consulta publica do Plano Nacional De Juventude"
* usar o mesmo modelo da consulta pública do plano de Startups, porem BEM mais simplificado
* serão 11 eixos (ou seja, 11 paginas com conteudo, e um campo de formulario)

[2017-11-22 17:45] maxbborges commented on #18
Foi modificado o template de toda a pagina do Brasil mais Jovem para o formato da pagina ID Jovem, onde foi inserido espaço do menu, espaço para apresentação de imagens formato carrocel, espaço para ultimas noticias e espaço para videos, ficando de acordo com o solicitado.

[2017-11-22 17:45] #18 closed, assigned to maxbborges

[2017-11-23 13:43] FabioDsg commented on #19
Acredito que esta seja uma possível solução. Segue um exemplo de como ficaria a consulta utilizando a opção "Embed". O documento pode ser rolado e lido por completo enquanto a opção comentar e os comentários já realizados permanecem fixos na página.

![pdf-works](https://user-images.githubusercontent.com/8026759/33175143-d41f1d58-d041-11e7-98e1-84228851362e.PNG)

O link se encontra no perfil do Ma

[2017-11-23 15:57] mnt-c commented on #17
Nas versões atuais do noosfero parece que já havia sido resolvido o vazamento. Acredito que a correção foi a partir desse commit: https://github.com/noosfero/noosfero/commit/4e618c2c293a34e819ca81cfb53ccd64f71f6521

Realizei um teste com o plugin e não ocorreu o erro no texto:

![comment](https://user-images.githubusercontent.com/18350825/33179475-b17b6630-d050-11e7-84d2-39b5f005fe9a.png)

![comme

[2017-11-23 17:34] joenio opened #20 "atualizar servidor de produção do juventude.gov.br"
o upstream do noosfero está bem mais atualizado que a atual versão em produção, vários bugs corrigidos e melhorias implementadas.

[2017-11-23 17:34] maxbborges commented on #19
O Embed_Code.txt colocado pelo @FabioDsg foi testado e também funciona para links do SlideShare e Issuu, servindo não só para arquivos simplismente PDF.

[2017-11-23 17:34] joenio commented on #20
issue relacionada: #2

[2017-11-23 17:38] caiomnt commented on #17
Arquivado para a atualização do servidor na Issue https://github.com/IBICT/noosfero/issues/20

[2017-11-23 17:47] mnt-c commented on #20
issue relacionada: https://github.com/IBICT/noosfero/issues/17

[2017-11-23 17:53] #17 closed, assigned to FabioDsg, luucilia, maxbborges, mnt-c

[2017-11-24 12:24] FabioDsg opened #21 "Falta de visibilidade e intuitividade da página inicial"
- Há muito texto, o que polui a página;
- Local de cadastro do usuário não está visível e intuitivo;
 - Não há informação suficiente que explique a proposta, como funciona e regras do ambiente Participatório;
- Conteúdo desatualizado, o que leva o navegante a pensar que a página está desativada;

Melhorias propostas:
- Limpar o conteúdo e inserir um texto curto, com linguagem acessível, de apresen

[2017-11-24 12:29] FabioDsg opened #22 "Apresentar na primeira página o que os usuários estão postando"
Aqui se aplicaria a ideia de uma time line.

[2017-11-24 12:42] FabioDsg commented on #15
Sugestões em avaliação e estudo, conforme o desenrolar serão registrados  issues relacionadas bem como as possíveis propostas de solução.

[2017-11-24 12:43] luucilia opened #23 "Permitir a organização de imagens por álbuns"
Permitir que as imagens possam ser organizadas por álbuns.

Verificar se é para a Página Imagens e/ou a Galeria de Imagens.

[2017-11-24 12:54] luucilia opened #24 "Permitir mais campos de edição ao publicar imagens"
Atualmente, possui essas opções:

![upload_imagens](https://user-images.githubusercontent.com/17516861/33211445-b60fb768-d105-11e7-8fd8-40cc7845bf7d.PNG)

Permitir que seja possível:
- Nomear as fotos
- Adicionar legendas
 - Colocar os créditos
- Opções de tagueamento para indexação no Google, porém os campos devem ser explicativos para que a pessoa não sinta dúvida em como preencher

[2017-11-24 13:03] luucilia opened #25 "Verificar a existência de dois sistemas na página publicações"
Verificar porque existem dois sistemas, duplicando as mesmas informações: ISSUU e BIBLIOTECA.

[2017-11-24 13:07] luucilia opened #26 "Personalizar página de vídeos"
- Deixar um ou dois vídeos em destaque
- Criar um menu que divida os vídeos por assunto, tornando a procura mais fácil ao usuário
- Melhorar os botões de forma a deixar a navegação mais clara e intuitiva

[2017-11-24 15:45] mnt-c commented on #15
Conforme dito acima, para um melhor interação com cada item, foi dividido as tarefas em algumas issues:

  Pagina Inicial:  #21 #22
  Imagens:  #23 #24
  Publicações:  #25
  Vídeos: #26

Demais tarefas ainda estão sendo analisadas e serão transformadas em novas issues.

[2017-11-28 11:30] FabioDsg commented on #19
Na data de ontem 27/11/2017 foi feito o upload dos arquivos PDF para o seguinte diretório:
http://juventude.gov.br/plano-nacional-de-juventude/arquivos/consulta-publica

Foi criado um protótipo inicial composto pelas telas com PDF's embutidos e uma página inicial em branco.

O @maxbborges e @caiomnt concluíram realizando todos os ajustes necessários como, adicionar os textos, banner(s) e ajuste fi

[2017-11-28 11:34] FabioDsg commented on #19
Foi constatado um problema em relação a visualização dos arquivos em pdf em dispositivos móveis, nos dispositivos IOS tal arquivo é visto como uma "imagem" e não permite a visualização de forma correta. Foram realizados testes em um dispositivo Android utilizando o Chrome mobile o download do PDF foi realizado de forma automática.

Tal problema está sendo verificado.

[2017-11-28 11:41] FabioDsg commented on #19
Foi realizada uma tentativa de substituição do código com a finalidade de teste, porém, o firewall bloqueia tal código.

![bloqueiofirewall](https://user-images.githubusercontent.com/8026759/33317961-0a6280f8-d420-11e7-91e5-fb5a6154781f.PNG)

Código em questão:

<object data="http://juventude.gov.br/articles/participatorio/0021/2406/1-PNJ-EIXO-1.pdf" type="application/pdf"

width="100%" height="10

[2017-11-28 11:58] FabioDsg commented on #19
Novamente o firewall bloqueia outro código. Este tem como proposta apresentar o PDF pelo google docs mantendo a ideia do "embed".

![bloqueiofirewall_2](https://user-images.githubusercontent.com/8026759/33318566-2d068c6a-d422-11e7-9806-066875479c52.PNG)

Segue o código em questão:

`<object width="900" height="900" data="https://docs.google.com/gview?

embedded=true&url=http://juventude.gov.br/art

[2017-11-28 14:13] FabioDsg commented on #19
Após várias tentativas, o problema citado acima foi contornado utilizando o código para visualização do arquivo PDF via Google Docs inserido dentro do Iframe como no código abaixo:

`<iframe src="https://docs.google.com/gview?url=http://juventude.gov.br/articles/participatorio/0021/2412/7-PNJ-EIXO-7.pdf&embedded=true" width="760px" height="500px">
</iframe>`

Segue um print do funcionamento em dis

[2017-11-28 14:13] FabioDsg commented on #19
Segue um print do funcionamento em dispositivo Android:

![capture _2017-11-28-11-55-00](https://user-images.githubusercontent.com/8026759/33324058-8c2fff60-d435-11e7-87fa-2e6751b656a9.png)

[2017-11-28 14:15] joenio commented on #19
muito bom @luciliapo @maxbborges @caiomnt @FabioDsg, valeu, bom trabalho!

[2017-11-28 14:20] FabioDsg commented on #19
Todos os códigos foram atualizados. Pode ocorrer de uma mensagem "no preview available", ainda não foi investigado porém, acredita-se que seja por conta de uma lentidão na rede em determinado horário, e como os documentos estão armazenados no mesmo servidor acabam sendo afetados.

Esta issue estará no aguardo da confirmação do funcionamento correto por parte do Michell e interessados.

[2017-11-28 16:45] maxbborges opened #27 "Bloqueios do Firewall"
Registros de todos os possíveis bloqueios que ocorreram durante a tentativa de alteração no site juventude.gov.br.

[2017-11-28 16:52] mnt-c commented on #27
Link de possíveis soluções de desbloqueio (por ip solicitante e regra de palavras na url):
https://devcentral.f5.com/questions/waf-blocking-templates-on-upload-50232

[2017-11-28 17:02] maxbborges commented on #27
Código de bloqueio do Firewall ao tentar inserir a tag embed no codigo HTML.
Código: 7747752473181494829

[2017-11-28 18:00] mnt-c commented on #27
Código de bloqueio do Firewall ao tentar inserir a tag object no codigo HTML.
Código: 7747752473181223680

[2017-11-29 12:14] FabioDsg opened #28 "Busca retornando resultados de uma maneira desorganizada"
Issue relacionada ao documento PARTICIPATÓRIO2 Relatório das funcionalidades - Usuário e Administrador que se encontra no seguinte link:

https://docs.google.com/document/d/1VcC1l2zpgMBTbvS512IHqHUKLZa3zVIeptdyKzVS2y0/edit?usp=sharing

A busca retorna qualquer tipo de conteúdo de forma desorganizada, misturando documentos, arquivos multimídia e qualquer outro formato contendo o mesmo termo utiliza

[2017-11-29 12:22] luucilia opened #29 "Dificuldade para realizar cadastro"
- Botão "Entrar" pequeno e não intuitivo.

![botao_entrar](https://user-images.githubusercontent.com/17516861/33374866-011c8884-d4ef-11e7-9e81-49044b242da2.PNG)
- Botão "Novo Usuário" nada atrativo.

![tela_entrar](https://user-images.githubusercontent.com/17516861/33374877-0f3b7d1c-d4ef-11e7-8032-8122125bd55f.PNG)
- Campos para se registrar não estão de acordos com os padrões atualmente usados.
-

[2017-11-29 12:46] luucilia opened #30 "Página de Eventos desatualizada"
Página Eventos: http://juventude.gov.br/profile/juventude/events

- A página Eventos não consta nenhum evento atual;
- Agenda não coincide com os eventos da SNJ;
- Alinhar eventos da SNJ e outros que estejam relacionados às políticas públicas de juventude com o calendário; Esse ponto deve ser discutido com a equipe de comunicação da SNJ para que decidam se serão apenas eventos da SNJ/Governo Feder

[2017-11-29 12:51] FabioDsg opened #31 "Funcionalidade do botão "Entrar na Comunidade""
Issue relacionada ao documento PARTICIPATÓRIO2 Relatório das funcionalidades - Usuário e Administrador que se encontra no seguinte link:

https://docs.google.com/document/d/1VcC1l2zpgMBTbvS512IHqHUKLZa3zVIeptdyKzVS2y0/edit?usp=sharing

Tal botão está com parte do texto sobreposto e só funciona caso o usuário esteja logado. Porém não existe uma mensagem ou redirecionamento que informe o usuário, is

[2017-11-29 12:52] luucilia opened #32 "Página Iniciativa em Destaques sem conteúdo"
Página Iniciativa em Destaques: http://juventude.gov.br/juventude/iniciativas

- Falta conteúdo (texto, imagens e vídeos);
- Melhorias propostas:
-- Inserir conteúdo;
-- Melhorar a apresentação da página;
-- Ou remover a página;

![iniciativa_destaques](https://user-images.githubusercontent.com/17516861/33376038-45a2a750-d4f3-11e7-8a91-42e4a0a156b0.PNG)

[2017-11-29 13:02] luucilia opened #33 "Página Programas da Juventude com acesso negado ao usuário"
Página Programas da Juventude: http://juventude.gov.br/juventude/programas

Página com acesso negado ao usuário, apenas disponível para administrador.

Para o usuário:

![pagina_programas](https://user-images.githubusercontent.com/17516861/33376358-8846aa24-d4f4-11e7-86c5-e9da6659529a.png)

Para o administrador:

![pagina_programas2](https://user-images.githubusercontent.com/17516861/33376416-b8d8

[2017-11-29 13:03] luucilia commented on #33
Configurei o blog para ser visível por todos.

[2017-11-29 13:04] #33 closed, assigned to luucilia

[2017-11-29 15:22] maxbborges commented on #19
É possível que exista um bloqueio no firewall quando se coloca a pré-visualização do google, como o problema descrito na https://github.com/IBICT/noosfero/issues/19#issuecomment-347537348 ocorria ocasionalmente foi colocado os arquivos PDFs em outro servidor, para testes no Google Drive pessoal e então, com os links do drive e com a pre-visualização do google foi constatado que o problema não ocor

[2017-11-29 16:15] maxbborges commented on #31
uma possível solução é inserir o seguinte trecho de css no bloco lateral de html puro da comunidade especifica: [join-community.txt](https://github.com/IBICT/noosfero/files/1514519/join-community.txt)

A solução foi testada na comunidade http://juventude.gov.br/plano-nacional-de-juventude e funcionou corretamente.

[2017-11-29 18:48] mnt-c commented on #19
Foi incluído no portal o banner de acesso a consulta tanto na página principal, quanto nas barras lateral de banners solicitado pelo Michell.

**Banner na página inicial**

![image](https://user-images.githubusercontent.com/18350825/33440246-a6a0adc0-d5d6-11e7-88ea-d50c593a9db5.png)

**Banner na página lateral**

![image](https://user-images.githubusercontent.com/18350825/33440328-d7806458-d5d6-11

[2017-11-30 11:28] #19 closed, assigned to FabioDsg, luucilia, maxbborges, mnt-c

[2017-11-30 11:45] FabioDsg commented on #31
Valeu @maxbborges!

[2017-11-30 11:56] luucilia commented on #31
@maxbborges, que gambiarra! Por que você não colocou isso no código do noosfero pra aplicar pra todas as comunidades?

[2017-11-30 15:24] maxbborges commented on #31
não podemos alterar o noosfero diretamente ainda, podemos? além de nem sabermos se isso já foi atualizado nas versões atuais.

[2017-11-30 17:32] mnt-c commented on #23
Dentro da ferramenta do Noosfero tem como adicionar álbuns de imagens. Editando o perfil desejado do blog nas opções de gerenciamento de conteúdo, possui um botão de novo conteúdo e no mesmo tem a opção de galeria:

![image](https://user-images.githubusercontent.com/18350825/33444327-1f0b9ae0-d5e1-11e7-9642-b710f7a3efc0.png)

Para incluir uma imagem no álbum, terá que realizar o upload da imagem d

[2017-11-30 17:32] #23 closed, assigned to mnt-c

[2017-12-01 12:25] FabioDsg commented on #31
A parte estética do botão fica ok e se resolve com esse código, porém a queixa no documento que gera essa issue é a falta de "ação" ao clicar em entrar na comunidade, não há um aviso, nada acontece, causa no usuário a sensação de que não funciona... Não é intuitivo nessa situação saber que precisa estar logado para que o botão funcione.

Segue um print com um discreto "carregar" infinito:

![carre

[2017-12-01 13:12] luucilia commented on #31
Eu procurei no código do Noosfero o lugar pra alterar o css dessa parte do "Entrar na comunidade" e está em: **public\stylesheets\blocks\profile-info.scss**

Eu testei só colocando essa parte do código do @maxbborges e funcionou:

#content .profile-info-options a.button.with-text.join-community {
    padding-left: 0px;
    text-align: center;
}

Essa é a imagem de como ficou usando o Noosfero da m

[2017-12-04 11:39] FabioDsg opened #34 "Evolução da página Brasil Mais Jovem"
Segue em anexo o pptx com parte das novas alterações a serem realizadas na página Brasil Mais Jovem solicitadas pelo Michell:

[BMJ_INSTRUCOES.pptx](https://github.com/IBICT/noosfero/files/1526844/BMJ_INSTRUCOES.pptx)

Em produção.

[2017-12-04 13:17] luucilia opened #35 "Retirar banner do Startup"
Verificar diariamente com o Michell se é para retirar o banner da consulta pública do Startup do site.

[2017-12-04 14:08] FabioDsg opened #36 "Aniversário 1 ano ID Jovem"
Foi solicitada a criação de uma página no Id Jovem para divulgação e convite a participação do aniversário de um ano do Id Jovem.

"É necessário estar logado para visualizar a página já que a pedido do Michell a mesma se encontra com privado"

Falta ajustar os links para download e possivelmente o tamanho das imagens, porém com elas foram feitas para o tamanho específico de cada rede social talvez

[2017-12-04 14:09] luucilia commented on #34
@maxbborges e @caiomnt , personalizem o menu de links para ficar parecido com o do ID Jovem. Os menus estão verticalmente distribuídos, coloquem eles na horizontal.

Atualmente, está assim:

![barra_bmj](https://user-images.githubusercontent.com/17516861/33556519-54ae953c-d8eb-11e7-95a2-260a06435180.PNG)

Ficar assim:

![barra_idj](https://user-images.githubusercontent.com/17516861/33556619-aa7d50

[2017-12-04 17:30] maxbborges commented on #34
Foi inserido um bloco de HTML puro com o seguinte CSS: [MenuBrasilMaisJovem.txt](https://github.com/IBICT/noosfero/files/1528123/MenuBrasilMaisJovem.txt)
Além disso foi retirado os ícones (setas) q apareciam antes de cada índice do menu.

Novo formado do menu da pagina Brasil Mais Jovem:
![foto](https://user-images.githubusercontent.com/18174772/33566703-fa747c90-d907-11e7-8183-0e64d1c409a7.PNG)

[2017-12-05 13:55] FabioDsg commented on #36
O problema **Ao clicar no link para download está sendo aberta a imagem em uma nova aba ao invés de oferecer a opção "Download"** foi solucionado aplicando a sugestão do @caiomnt de utilizar o imgur com sua função de download como no código abaixo:

`https://imgur.com/download/jm7aJXe`

As imagens por ser tratarem de uma "divulgação" e não conter conteúdo confidencial ou de propriedade "privada" f

[2017-12-05 13:57] luucilia opened #37 "Usuários não logados não conseguem fazer comentários"
Na documentação do noosfero diz que usuários não logados podem fazer comentários (http://softwarelivre.org/doc/user/commenting).

Entretanto, na consulta pública do Plano Nacional da Juventude, apenas os usuários logados podem comentar, sendo que para usuários não logados não aparece nada, nem sequer um aviso. Logo, deve-se habilitar para que usuários não logados comentem ou alguma solução alterna

[2017-12-05 14:11] luucilia commented on #37
Fui em Painel de Controle -> Informações e Configurações da Comunidade

Marquei essa opção:

![comments](https://user-images.githubusercontent.com/17516861/33611387-5b55f4d2-d9b5-11e7-8fc1-9bbd2114f537.PNG)

E continua sem funcionar.

[2017-12-05 14:16] luucilia commented on #35
@maxbborges e @caiomnt retirem de todas as páginas internas das comunidades o banner do Startup.

![startup](https://user-images.githubusercontent.com/17516861/33611604-210bd7a0-d9b6-11e7-9ed9-3ba5915b4742.PNG)

[2017-12-05 14:26] luucilia opened #38 "Adicionar banner do aniversário do id jovem"
Colocar o banner do aniversário do id jovem linkado para a página: juventude.gov.br/idjovem/faca-parte-do-aniversario-de-1-ano-da-id-jovem-customize-suas-redes no lugar do banner do Startup na página principal.

[2017-12-05 14:34] luucilia commented on #38
Banner colocado:

![banner_aniv](https://user-images.githubusercontent.com/17516861/33612401-8fe99994-d9b8-11e7-9814-f99e0f0632d8.PNG)

[2017-12-05 16:55] mnt-c commented on #37
Numa versão mais recente instalada localmente do Noosfero, foi possível comentar sem a necessidade de estar logado. A mesma aparece um campo de usuário e E-mail para realizar o comentário:

![comentario0](https://user-images.githubusercontent.com/18350825/33619126-8ce58ed4-d9cb-11e7-93fb-676ccddab586.jpg)

Fiz então um teste com um usuário válido e outro com usuário anônimo:

![comentario1](https:

[2017-12-05 17:43] mnt-c opened #39 "Documentos públicos do Id Jovem inacessíveis"
Na página do Id Jovem, foi constatado que nos documentos referente a legislação estavam sem acesso de visualização. Os documentos em PDF  estão formatos de links na página de Legislação do Id Jovem:

Link: http://juventude.gov.br/idjovem/documentos

![image](https://user-images.githubusercontent.com/18350825/33621453-f2df9eae-d9d1-11e7-8b63-d84ce18d43ad.png)

Ao acessar os documentos era retornado

[2017-12-05 18:49] mnt-c commented on #39
Conversado com Michell, foi informado que é necessário que a equipe que utiliza essa parcela do site encaminhe a solicitação de liberar acesso, para então analisar a situação das informações e assim que sejam feitas as alterações de acessos dos documentos que permanecem como privados.

[2017-12-05 19:09] #39 closed, assigned to mnt-c

[2017-12-06 11:40] #38 closed, assigned to FabioDsg, luucilia

[2017-12-06 13:21] luucilia commented on #35
Banners retirados das comunidades.

[2017-12-06 13:21] #35 closed, assigned to maxbborges, mnt-c

[2017-12-06 17:11] maxbborges commented on #36
Foi apresentado para o Michel a opção funcional de download dos banners, com isso foi proposto o uso do imgur.com e ele aceitou. Os links estão todos acessíveis e funcionais.

[2017-12-06 17:11] #36 closed, assigned to FabioDsg, luucilia, maxbborges, mnt-c

[2017-12-06 18:31] mnt-c commented on #34
Apresentado para o Michell e a solicitação foi aprovada, porém o mesmo solicitou a inserção de item da apresentação de vídeo junto com código embutido do Twitter da página principal.

Ao inserir o elemento foi bloqueada a solicitação pelo WAF e é aguardado a liberação do código 7747752473301980120, para conclusão da tarefa.

[2017-12-06 20:40] mnt-c commented on #27
Código de bloqueio do Firewall ao tentar inserir a código de publicações do Twitter no código HTML.
Código: 7747752473301980120

[2017-12-07 12:50] FabioDsg commented on #34
Foi corrigido o link para o vídeo do YouTube **"embed"** e realizada a tentativa de listar uma **"timeline"**
segundo a mesma ideia utilizada na página inicial do juventude:

![proposta](https://user-images.githubusercontent.com/8026759/33715762-d4067cfe-db3a-11e7-8ae3-5251ccbc90c5.PNG)

Porém o **"Firewall"** bloqueia a tentativa de uso de qualquer **"Script"** como o que é utilizado nesta página

[2017-12-07 12:51] luucilia commented on #37
Considerando a ausência dessa funcionalidade nessa versão do Noosfero, adicionou-se como medida provisória um texto com os links para se "Cadastrar" ou "Entrar na sua conta", logo abaixo dos 11 eixos da consulta pública, para deixar claro ao usuário a necessidade de login para efetuar comentários.

Print da tela de como ficou:

![comment_prov](https://user-images.githubusercontent.com/17516861/337

[2017-12-07 13:49] luucilia commented on #16
Eu criei uma comunidade secreta e convidei pessoas para participarem, aparece que os amigos foram adicionados, mas eles não recebem nenhuma solicitação e ninguém é, realmente, adicionado na comunidade.

Tela:
![friend_added](https://user-images.githubusercontent.com/17516861/33718331-2235280e-db44-11e7-824d-05749dab18f0.png)

[2017-12-07 16:02] maxbborges opened #40 "Proposta de melhorias na interface do Juventude"
O site juventude.gov.br apresenta diversos pontos onde se tem a necessidade de melhoria na apresentação ou organização das informações que são apresentadas no site. Aqui ficará registrado as propostas de melhorias, que posteriormente serão alinhadas com o Michel para as devidas implementações.

Quando for inserido uma nova proposta, inserir uma nova "task list" citando o comentário, para uma melho

[2017-12-07 16:10] maxbborges commented on #40
Foi apresentado ao Michel a quantidade de comunidades existentes no site, muitas delas estão repetidas ou até mesmo sem nenhuma publicação desde a sua criação.
![comunidades](https://user-images.githubusercontent.com/18174772/33725020-181d65ca-db58-11e7-906f-5d83ebdac245.PNG)

Foi autorizado a exclusão e desativação de algumas dessas comunidades. Além disso, comunidades que eram apenas para testes

[2017-12-07 17:36] maxbborges commented on #32
Foi informado pela Estela que a pagina era pra ser usado com outro intuito, entretanto, acabou não sendo usado e que poderia ser desativada. Portanto, a pagina foi desativada e o link foi removido da pagina inicial. A issue foi resolvida.

[2017-12-07 17:36] #32 closed, assigned to FabioDsg, luucilia, maxbborges, mnt-c

[2017-12-07 17:55] maxbborges commented on #40
Considerando a estrutura do site inicial, é proposto uma reorganização dos blocos no site.
Pagina inicial atualmente:
![atual](https://user-images.githubusercontent.com/18174772/33730322-c56911c6-db66-11e7-86e9-04dc54aaf41c.PNG)

Pagina Inicial Proposta:
![opcao1](https://user-images.githubusercontent.com/18174772/33730341-d4925568-db66-11e7-8c71-9a90a724b1bd.PNG)

Faltando a aprovação do Michel p

[2017-12-07 18:54] maxbborges commented on #40
Pagina Iniciativas em branco
#32

[2017-12-13 14:09] FabioDsg commented on #34
O Michell relatou que não estão conseguindo comentar na página. Foi e está sendo verificado, que acessando a notícia diretamente a opção de comentar está funcionando, porém, ao clicar no link Notícias e acessá-las de forma geral, não aparece opção de comentar.  Porém existe essa opção que leva aos comentários juntamente com a opção de comentar:

![linkcomment](https://user-images.githubusercontent

[2017-12-13 18:11] mnt-c commented on #37
O problema foi resolvido através de inserção de código na funcionalidade de RAW HTML:

![image](https://user-images.githubusercontent.com/18350825/33954705-39e1eb00-e020-11e7-9503-d11918b277d5.png)

Solução adotada:

[code]

[2017-12-13 18:12] #37 closed, assigned to luucilia, mnt-c

[2017-12-13 18:16] mnt-c commented on #34
Foi adicionado um código por meio do RAW HTML:

[code]

A solução atendeu sobre os comentários.

[2017-12-13 18:21] mnt-c commented on #34
Foi realizado algumas melhorias solicitado pelo Michell:

Inclusão de títulos:

- ÚLTIMAS NOTÍCIAS.
- YOUTUBE
- TWITTER

Remoção temporária da aba do Twitter até a aprovação de código a ser inserido pela DITEC.

Alterado link de vídeo para:  https://www.youtube.com/watch?v=0avkjmP6euw

[2017-12-15 13:50] FabioDsg commented on #34
Acredito que através do seguinte código, o problema relacionado a time line do twitter embutida foi resolvido:

`<iframe style="width:300px;height:250px;" src="http://tools.classcube.com/embed/twitter/SNJuventude/"></iframe>`

Referência:
https://classcube.com/embed-twitter-timeline/

Segue um print do funcionamento:

![twitter_working](https://user-images.githubusercontent.com/8026759/34044880-f2

[2017-12-15 14:14] FabioDsg commented on #34
Segue um print do funcionamento no celular:

![capture _2017-12-15-11-56-05](https://user-images.githubusercontent.com/8026759/34045752-794b3b4e-e191-11e7-96ef-3e9bf9075a18.png)

[2017-12-15 18:16] mnt-c commented on #34
O solicitante Michell pediu para que houvesse a inserção de um banner rotativo na página do Brasil Mais Jovem:

![desktop 1_067](https://user-images.githubusercontent.com/18350825/34054681-2c7878c8-e1b3-11e7-823f-5cd95229c107.png)

No caso foi inserido o banner rotativo contendo imagens referentes as ultimas notícias publicadas.

[2017-12-15 18:19] mnt-c commented on #34
Segundo o solicitante Michell não houve aprovação da solução proposta pela equipe e mantém a decisão temporária até a liberação do desbloqueio.

[2018-01-08 14:23] joenio commented on #31
isso precisa ser resolvido no tema do juventude, o repositório do tema está em:
* https://gitlab.com/noosfero-themes/juventude

[2018-01-08 15:00] joenio opened #41 "Relatório de acessos ao portal da juventude via Piwik"
A DITEC mantém um Piwik com coleta de dados de acesso ao portal da juventude, precisamos descobrir como acessar.

[2018-01-09 16:12] maxbborges opened #42 "Documentação Portal da Juventude"
Foi solicitado a criação de um documento passo a passo do portal da juventude, para que fosse além de um mapa do site, fosse também um tutorial das funcionalidades disponíveis no portal.

[2018-01-10 11:05] FabioDsg commented on #42
Valeu @maxbborges! Estarei lendo com calma e possivelmente contribuindo.

[2018-01-15 10:15] FabioDsg commented on #25
Em um primeiro contato foi verificado que o uso do ISSUU e BIBLIOTECA tem propostas diferentes. Um sistema tem como finalidade apresentar o conteúdo de uma forma mais elegante e agradável, o outro apesar de também apresentar, está sendo visto como uma forma de manter uma cópia arquivada para futuras consultas.
 No caso do ISSUU ao clicar no link disponível, o usuário é redirecionado automaticament

[2018-01-17 11:55] FabioDsg opened #43 "Limpar Histórico de Imagens"
Ao tentar inserir uma nova imagem no "Slide Show" que é apresentado na página inicial, é mostrada uma lista muito grande de imagens como pode ser observado abaixo:

![list_imagens](https://user-images.githubusercontent.com/8026759/35040949-2e7f713c-fb6a-11e7-8e07-50320705a937.png)

Ao verificar a possibilidade de "apagar" as imagens mais antigas, descobre-se que há um volume considerável para proc

[2018-01-17 13:25] estelanm opened #44 "Função "Divulgar""
A função "divulgar" não está funcionando corretamente. Após a aprovação da divulgação do post em outras comunidades, o post não é publicado automaticamente. Atualmente, estamos publicando manualmente, comunidade por comunidade.

[2018-01-18 14:54] maxbborges commented on #44
@estelanm, você chegou a verificar na parte de aprovação de postagem nessa comunidade que você escolheu publiar? Houve um problema em que não publicava em outras comunidades, mas isso ocorria pois é necessario fazer a aprovação da publicação em cada comunidade separadamente.

[2018-01-18 16:07] estelanm commented on #44
Sim, mesmo depois de aprovado, o post não aparece.

[2018-01-18 16:09] maxbborges commented on #44
qual foi a ultima postagem que você divulgou e para qual comunidade foi?

[2018-01-18 16:22] estelanm commented on #44
Seria essa http://juventude.gov.br/juventude/noticias/amapa-representara-regiao-norte-na-ultima-audiencia-publica-do-novo-pnj
Divulguei na comunidade : http://juventude.gov.br/plano-nacional-de-juventude
Porém, não foi publicado e tive que pulicar manualmente...

[2018-01-18 18:00] maxbborges commented on #44
Para realizar uma divulgaçao é necessario publicar em uma comunidade filha como o Plano nacional de juventude para depois ser divulgada na comunidade mãe q é a Juventude. Portanto, apos ser feito a divulgacao, será necessario ir no painel de controle da comunidade juventude, entrar na opçao tarefas e aprovar a publicação. Poderia testar?

[2018-01-19 12:55] luucilia commented on #44
@estelanm, eu testei o que você comentou e a função divulgar funcionou comigo.

Eu fiz da seguinte forma:

1. Cliquei em Divulgar o post do artigo "Amapá representará região Norte na última audiência pública do novo PNJ".

2. Apareceu a janela das opções de publicação, eu selecionei para publicar na comunidade Brasil Mais Jovem.

![divulgar](https://user-images.githubusercontent.com/17516861/35150

[2018-01-22 12:55] luucilia opened #45 "Erro no acesso à Biblioteca"
A Camila do Ibict reportou semana passada que ao acessar a Biblioteca do Juventude (http://www.juventude.gov.br/biblioteca) por uma rede fora do Ibict aparecia uma mensagem de erro do Noosfero.

![juventude_gov_br_biblioteca - captura de tela de 2018-01-17](https://user-images.githubusercontent.com/17516861/35221545-a79f79f4-ff61-11e7-8f6b-0417d82ebec4.png)

Eu e o @FabioDsg já havíamos notado que

[2018-01-22 13:00] luucilia commented on #44
A função "Divulgar" foi testada com a @estelanm e está funcionando normalmente, caso hajam mais problemas à respeito dessa função a issue será reaberta.

[2018-01-22 13:00] #44 closed, assigned to FabioDsg, luucilia

[2018-01-22 19:09] joenio commented on #8
depende de atualizar o noosfero em produção.

[2018-01-23 12:35] luucilia opened #46 "Criação de 4 comunidades"
O Michell pediu para criar 4 comunidades que sigam os moldes do Brasil Mais Jovem, as comunidades são:

- Diagnóstico sobre Juventude LGBT
- Diagnóstico sobre Juventude Rural
- Inova Jovem
- Programa Forças no Esporte - PROFESP

A Cristina Akemi da Comunicação ficará responsável por separar os conteúdos para essas comunidades.

[2018-01-24 13:21] mnt-c commented on #9
O bug relatado ainda continua, com problemas de espaçamento.

No tema do Noosfero:

![image](https://user-images.githubusercontent.com/18350825/35333741-058964bc-00f7-11e8-85e8-70f336bcff1e.png)

Aplicado ao tema da juventude:

![image](https://user-images.githubusercontent.com/18350825/35333930-b542a486-00f7-11e8-9cd3-d62dea5e55f6.png)

[2018-01-24 13:29] mnt-c commented on #9
Procurei dentro da fonte do awesome se no caso tinha alguma alteração de espaço, porém não encontrei. Como os icones é atrelado a fonte alterei o arquivo de botões padrão do Noosfero (./public/stylesheets/buttons.scss) e consegui alguns resultados:

![image](https://user-images.githubusercontent.com/18350825/35334123-615df3e2-00f8-11e8-8658-482882424ba3.png)

[code]
No caso havia um espaço de 4px

[2018-01-24 15:34] maxbborges commented on #13
É possivel inserir uma nova imagem na criação de um novo formulario:
![captura de tela de 2018-01-24 13-29-34](https://user-images.githubusercontent.com/18174772/35340672-e0e6f278-010a-11e8-8c68-0ea885a5b75a.png)

entretando, essa imagem não possui nenhuma utilidade. Quando é apresentado o formulario pronto para resposta, a imagem não é apresentada em nenhum lugar:

![captura de tela de 2018-01-24

[2018-01-24 15:50] maxbborges commented on #12
No tema padrão do noosfero o problema não é apresentado, em todas as formas de lista:
![captura de tela de 2018-01-24 13-47-43](https://user-images.githubusercontent.com/18174772/35341720-7b7a017a-010d-11e8-8983-cf5a0d4c1763.png)

[2018-01-24 18:08] maxbborges opened #47 "Botão "Remove Field" do Custom Forms"
O Botão "Remove Field" do plugin custom forms não remove o campo designado. É possivel adicionar um novo item no formulario, entretanto não é possivel remover:

![captura de tela de 2018-01-24 16-00-19](https://user-images.githubusercontent.com/18174772/35348858-7a5c9b50-0120-11e8-882c-126baebcfce2.png)

[2018-01-25 12:10] luucilia commented on #45
Acredita-se que a lentidão e problemas de acesso sejam por causa do servidor e, como a página da biblioteca não está vinculada ao Noosfero, supõe-se que seja devido a algum servidor do IBICT, mas, de qualquer forma, a solução não se encontra ao nosso alcance e por esse motivo essa issue foi fechada.

[2018-01-25 12:10] #45 closed, assigned to luucilia

[2018-01-25 18:00] mnt-c commented on #9
Fiz mais alterações de CSS (comentei os valores dos espaçamentos) para melhorar a visualização da fonte que continha espaços adicionais:

1. Barra de navegação do tema principal do noosfero e barra lateral do tema do juventude:
**./public/designs/themes/base/style.scss**
[code]

2. Barra lateral de menus:
**./public/stylesheets/blocks/link-list.scss**
[code]

3. Barra lateral de menus para o tema

[2018-01-26 11:52] #34 closed, assigned to FabioDsg, luucilia, maxbborges, mnt-c

[2018-01-26 13:03] luucilia commented on #46
As 4 comunidades foram criadas, seguem os links:

http://juventude.gov.br/profile/diagnostico-sobre-juventude-rural

http://juventude.gov.br/profile/diagnostico-sobre-a-juventude-lgbt

http://juventude.gov.br/profile/inova-jovem

http://juventude.gov.br/profile/programa-forcas-no-esporte

Apenas ressaltar que foram inseridos alguns códigos em HTML puro para atenuar alguns problemas, como:

- Barra

[2018-01-26 18:27] mnt-c commented on #9
No uso da fonte AWESOME foi então identificado que devido a sua estrutura (https://github.com/IBICT/noosfero/tree/master/public/designs/icons/awesome) ele não adiciona nenhum atributo no CSS que afete o espaçamento de icones, porém os seus icones são incluidos juntamente ao conteúdo(o texto do ícone).

O Noosfero possui um espaço em sua base que é destinada para inserção de ícones num formato de i

[2018-01-26 18:27] #9 closed, assigned to mnt-c

[2018-01-31 10:45] joenio commented on #25
@FabioDsg mas é necessário explicar ao pessoal da SNJ que não faz sentido ter dois sistemas fazendo a mesma coisa, além de duplicar esforço isso pode gerar inconsistência nos dados, uma vez que há duplicação de informação.

É necesssário saber se o ISSUU é realmente inprescindível e porque é inprenscindível, quais features do ISSUU a Secretaria não pode viver sem? Mesmo sendo um sistema mais elega

[2018-01-31 10:52] joenio commented on #31
@luciliapo como está o andamento dessa issue? Conseguiu fazer as alterações no tema da juventude?

[2018-01-31 10:54] joenio commented on #11
Merge Request feito: https://gitlab.com/noosfero/noosfero/merge_requests/1389

Aguardando aprovação dos commiters do Noosfero.

[2018-01-31 10:56] joenio commented on #20
eu e o leandro nunes (serpro) iniciamos a atualização dos servidores do participa/juventude, a presidência trouxe ele de salvador para ajudar nesta atividade, hoje quarta dia 31 de janeiro será feito a migração do portal participa.br e na sequência será feito atualização do juventude também.

[2018-01-31 11:00] joenio commented on #13
@maxbborges essa imagem dá algum erro ou apenas não é exibida? você fez alguma correção relacionada a isso já, como está o andamento disso?

[2018-01-31 12:27] luucilia commented on #31
Estamos configurando o ambiente nesse momento e após isso começarei a trabalhar nessa issue.

[2018-01-31 13:11] FabioDsg commented on #25
Já estou alinhando com Michell, ele informou que se fosse necessário poderia substituir o ISSUU. Estamos apenas acertando os detalhes e assim que ele sinalizar e a instrução for passada essa issue será fechada.

[2018-01-31 18:29] maxbborges commented on #12
Foi constatado que o problema era aparente somente no tema do Juventude, para a correção foi editando o arquivo style.css na pasta public/designs/themes/juventude, inserindo a seguinte linha de CSS entre as linhas 1408 e 1410:

#custom-forms-plugin_submission .formfieldline input[type="radio"], .formfieldline input[type="checkbox"] {
    width: 5%;
}

#custom-forms-plugin_submission .formfieldline

[2018-01-31 18:38] maxbborges commented on #13
@joenio, a imagem somente vai para a galeria da comunidade, não sendo exibido e não havendo nenhum local destinado a imagem quando é aberto o formulario que foi criado com imagem.

Essa é a tela que é exibida ao abrir um formulario que foi criado com imagem. Pode-se notar que não há nenhuma imagem na tela, além da imagem da comunidade.
![captura de tela de 2018-01-31 16-24-36](https://user-images.

[2018-02-01 13:26] FabioDsg opened #48 "Coleta de dados e retirada dos banners"
Foi solicitado a coleta das contribuições relacionadas a consulta pública online no portal da Juventude no link a seguir e a retirada da consulta do ar.

http://juventude.gov.br/plano-nacional-de-juventude/blog/consulta-publica-online-contribua-com-o-plano-nacional-de-juventude

[2018-02-01 13:29] FabioDsg commented on #48
Foram coletadas as informações solicitadas e passadas aos interessados, assim como a consulta pública foi retirada do ar.

[2018-02-01 13:29] #48 closed, assigned to nobody

[2018-02-01 13:44] luucilia commented on #31
O arquivo que precisa ser mudado para corrigir o botão "entrar na comunidade" se encontra em **style.css** na página https://gitlab.com/noosfero-themes/juventude.

Basta inserir o código citado anteriormente:
#content .profile-info-options a.button.with-text.join-community {
padding-left: 0px;
text-align: center;
}

Fiz o commit na página do tema e está pendente a aprovação.

[2018-02-01 13:44] #31 closed, assigned to luucilia

[2018-02-01 13:53] FabioDsg commented on #25
Foi feito o contato com a Estela, ela sugeriu uma pequena reunião, incluindo o Diego e as meninas da biblioteca para decidir a melhor solução, uma vez que segundo ela, a biblioteca precisaria passar por algumas mudanças ou permitir que o conteúdo em destaque fosse disponibilizado de forma semelhante ao ISSUU.

[2018-02-01 15:54] mnt-c commented on #11
Aprovado o merge request com a solução: https://gitlab.com/noosfero/noosfero/commit/3f0f20aa6d32b9490ae05375d048049aab474064.

O problema foi resolvido através da instalação local, identificando a origem do problema que havia no plugin e aplicando a solução devida juntamente com seus testes unitários e funcionais. Feito as correções foi enviado ao repositório oficial ( https://gitlab.com/noosfero/

[2018-02-01 15:54] #11 closed, assigned to mnt-c

[2018-02-01 16:59] maxbborges commented on #12
Foi feito o merge-request das correções no link:
https://gitlab.com/noosfero-themes/juventude/merge_requests/2

O problema foi corrigido e a issue será fechada.

[2018-02-01 16:59] #12 closed, assigned to maxbborges

[2018-02-01 17:06] maxbborges commented on #13
Como não é apresentado nenhum erro upar ou apresentar a imagem, a issue será fechada.

[2018-02-01 17:06] #13 closed, assigned to maxbborges

[2018-02-02 12:41] luucilia commented on #46
Como a demanda foi atendida e o pessoal da Comunicação já possui acesso às comunidades, esta issue será fechada.

[2018-02-02 12:41] #46 closed, assigned to FabioDsg, luucilia

[2018-02-02 12:57] luucilia commented on #43
Foi constatado que o problema não se trata do histórico e sim da grande quantidade de imagens armazenadas no diretório de forma que ao adicionar um banner no carrossel aparece uma lista imensa.

Como, no momento, excluir as imagens não é uma opção, essa issue será fechada e caso haja alguma soução, ela poderá ser reaberta.

[2018-02-02 12:57] #43 closed, assigned to nobody

[2018-02-05 13:39] FabioDsg commented on #41
Foi enviado um e-mail com o nome completo e usuário de rede de todos os membros da equipe como solicitado pela Nayanne para que seja gerado o acesso ao Piwik.

[2018-02-05 13:51] FabioDsg commented on #16
Foram realizados testes e ao tentar aceitar um convite para participar de uma comunidade secreta o seguinte erro é mostrado:

![img-7056](https://user-images.githubusercontent.com/8026759/35807618-6949caf6-0a6a-11e8-8c5e-90990e4e418b.jpg)

Foi constatado que o convite só funciona via e-mail, ao tentar realizar um convite via nome de usuário, nenhuma notificação para ambas as partes é mostrada.

[2018-02-05 16:51] joenio commented on #27
email solicitando desbloqueio enviado para: bloqueio.de.aplicacoes@presidencia.gov.br

[2018-02-05 16:51] #27 closed, assigned to joenio

[2018-02-05 16:57] mnt-c commented on #27
12138245677907151419

[2018-02-05 17:38] joenio opened #49 "sincronizar repositório git do tema juventude com o tema em produção"
o tema no repositório https://gitlab.com/noosfero-themes/juventude está desatualizado em relação ao tema em produção no juventude.gov.br, é necessário atualizar o tema no repositório e garantir que qualquer mudança que vá para produção seja feita no git antes.

revisar e integrar o merge-request abaixo:
* https://gitlab.com/noosfero-themes/juventude/merge_requests/2

[2018-02-05 17:38] joenio commented on #49
issue relacionada: #12

[2018-02-05 17:40] joenio commented on #49
revisar e integrar merge-request: https://gitlab.com/noosfero-themes/juventude/merge_requests/1

[2018-02-05 17:45] joenio commented on #49
issue relacionada: #31

[2018-02-05 18:06] joenio opened #50 "bilioteca da juventude caindo com frequencia"
tem ficado fora do ar com bastante frequencia, relato dos coordenadores do idjovem.

* http://www.juventude.gov.br/biblioteca/
* http://bibjuventude.ibict.br/jspui/

Relatar este problema ao IBICT para que os mantenedores do sistema de biblioteca tomem conhecimento e possam tratar os problemas adequadamente.

[2018-02-05 18:15] joenio opened #51 "bug com rss em ambiente noosfero fechado"
bug feed rss doesn't work in closed environment: https://gitlab.com/noosfero/noosfero/issues/28

[2018-02-05 18:20] joenio opened #52 "executar todos os testes do noosfero e corrigir eventuais falhas"
rake test:all not running all tests: https://gitlab.com/noosfero/noosfero/issues/165

[2018-02-05 18:26] joenio opened #53 "noosfero não permite visualizar ou baixar imagens SVG"
Add support view SVG file: https://gitlab.com/noosfero/noosfero/issues/267

[2018-02-05 18:28] joenio opened #54 "delayed_job morrendo aleatoriamente"
Delayed Job random crashes: https://gitlab.com/noosfero/noosfero/issues/260

[2018-02-05 18:46] joenio commented on #20
Leandro Nunes (SERPRO) passou os dias 29, 30 e 31 de janeiro dando apoio nos problemas do ambiente Nossfero do Participa visando atualização de produção, ao final o servidor não foi atualizado e ficou um novo planejamento de atualizar após o carnaval.

A atualização do Juventude será feita após a atualização do Participa pois a equipe que mantém os servidores irá utilizar o aprendizado e soluções

[2018-02-05 18:46] #20 closed, assigned to joenio

[2018-02-05 18:50] joenio commented on #25
Vejo que a SNJ está hoje dependente do ISSUU, creio que não justifica consumir horas de reunião de tanta gente pra isso, vamos abortar essa missão por enquanto e deixar a Secretaria usando em duplicidade os dois sistemas.

[2018-02-05 18:50] #25 closed, assigned to FabioDsg

[2018-02-06 12:28] luucilia commented on #16
Testei a funcionalidade da comunidade secreta na versão atual do noosfero.

Segue o passo-a-passo:

1. Ao convidar um usuário para entrar na comunidade aparece a seguinte notificação para o usuário:

![convite_com_secreta](https://user-images.githubusercontent.com/17516861/35859511-81235918-0b27-11e8-852c-d1355f4c266e.png)

2. Após aceitar o convite, o usuário que realizou o convite recebe uma not

[2018-02-06 12:28] #16 closed, assigned to luucilia

[2018-02-06 13:44] estelanm opened #55 "Novas comunidades"
Puxar as três novas comunidades, Dig. Juv. Rural, LGBT e Inova Jovem mais para cima, na área de destaque. Elas devem aparecer primeiro que as outras. :)

[2018-02-06 13:47] estelanm opened #56 "Brasil Mais Jovem 1ª edição"
Disponibilizar um banner de destaque para a primeira edição da revista (Issu) dentro da comunidade Brasil Mais Jovem. Vou enviar um banner com arte.

[2018-02-07 11:15] luucilia commented on #55
As comunidades foram movidas para cima como mostra a imagem:

![confira_tambem](https://user-images.githubusercontent.com/17516861/35913296-51300138-0be6-11e8-9a87-bd2c94e17f0d.png)

[2018-02-07 11:15] #55 closed, assigned to nobody

[2018-02-07 16:49] maxbborges commented on #56
Aguardando o Banner para efetuar as modificações.

[2018-02-07 18:23] maxbborges commented on #52
Foi criado um novo container, com uma instalação limpa do noosfero, sem o tema do juventude ser aplicado. No container foi executado o teste com o comando "rake teste:all", com duração de cerca de 27 minutos o teste apresentou 19 falhas e nenhum erro. Segue a lista dos testes que falharam:

![captura de tela de 2018-02-07 16-24-56](https://user-images.githubusercontent.com/18174772/35934023-800eff

[2018-02-07 18:52] estelanm commented on #56
![whatsapp image 2018-02-07 at 16 21 56](https://user-images.githubusercontent.com/34688898/35935313-41d9bb48-0c27-11e8-82e4-11dae6b347ed.jpeg)

Consegue pegar daqui? Se não, me passe seu email....

[2018-02-08 10:28] FabioDsg commented on #56
O banner foi adicionado conforme solicitado. Aguardando um feedback em relação ao título.
http://juventude.gov.br/profile/brasil-mais-jovem

[2018-02-08 16:56] maxbborges commented on #52
Foram feitos novos testes individuais em cada teste com falha, e nenhum apresentou erro.

[2018-02-08 17:53] maxbborges commented on #52
Em um novo teste realizado com o comando "rake teste:all", apresentou 10 falhas.
Acredita-se que um teste pode estar influenciando no teste seguinte, pois os erros são apresentados de forma aleatória e nem sempre o mesmo erro é apresentado.

[2018-02-08 17:53] #52 closed, assigned to maxbborges

[2018-02-08 18:32] joenio opened #57 "substituir caracteres dash por -"
* issue no repositório oficial do noosfero: https://gitlab.com/noosfero/noosfero/issues/3
* caracteres dash: https://en.wikipedia.org/wiki/Dash

[2018-02-09 11:24] luucilia opened #58 "Testar o ambiente de homologação do Participa"
Conforme o email enviado pela Nayanne, o link do ambiente em homolagação é: http://participa-hom.presidencia.gov.br

Testes:

- [x] 1. Aplicar tema em Angular
- [ ] 2. Criar usuário
- [x] 3.1 Criar comunidade
- [x] 3.2 Aceitar solicitação para criar comunidade
- [x] 3.3 Rejeitar solicitação para criar comunidade
- [x] 4. Trocar foto de perfil
- [x] 5. Trocar foto de capa
- [x] 6. Criar discussão
-

[2018-02-09 13:59] luucilia opened #59 "Não existe o botão exportar comentários em um post"
O botão **"Export Comments"** aparece ao editar uma discussão como mostra a imagem:

![export_comments](https://user-images.githubusercontent.com/17516861/36031002-797d2a70-0d90-11e8-929d-91f7cd5bb3ef.png)

No entanto, não aparece ao editar um post:

![post_without_export](https://user-images.githubusercontent.com/17516861/36031028-95d7a416-0d90-11e8-91de-b46a000ad8c1.png)

[2018-02-14 16:09] maxbborges commented on #58
Ao criar um novo usuário  ele informa o seguinte erro:
![captura de tela de 2018-02-14 14-07-42](https://user-images.githubusercontent.com/18174772/36214373-7bedec96-1190-11e8-9d82-cd68d36ec078.png)

Entretanto, a pagina não apresenta nenhuma campo para confirmação se é robo ou não.
Apresentando apenas o campo de aceitação dos termos de uso.

[2018-02-14 16:47] mnt-c commented on #58
Parece que possui alguns links que estão apontando para algum servidor de homologação antigo.

****Testei novamente foi solucionado** ✔

[2018-02-14 17:47] maxbborges commented on #57
Foram criados 3 novos artigos, cada um usando um tamanho de dash diferente. Em nenhum dos 3 tipos testados foi apresentado o problema relatado.

Artigos criados:
![captura de tela de 2018-02-14 15-43-13](https://user-images.githubusercontent.com/18174772/36219415-6a1e7374-119e-11e8-9d53-877a518eb40d.png)

Pagina de apresentação dos artigos:
![captura de tela de 2018-02-14 15-46-27](https://user-im

[2018-02-14 19:52] joenio commented on #57
@maxbborges massa, alguém resolveu a issue antes e não fechou a issue no upstream. eu tb testei agora e notei que realmente o problema n ocorre! valeu!!!

[2018-02-14 19:52] #57 closed, assigned to maxbborges

[2018-02-15 11:20] FabioDsg commented on #58
Foi constatado que após a criação de um post, ao tentar acessá-lo, é gerado um código na url fazendo com que o usuário não consiga ter acesso.

Segue o exemplo:
Url gerada adiciona “%2F” ao invés de “/”:
![link_error_02](https://user-images.githubusercontent.com/8026759/36254182-445b6bcc-1231-11e8-840b-8e3b00fb8a13.png)

Url correta:
![link_error_01](https://user-images.githubusercontent.com/80267

[2018-02-15 11:24] FabioDsg commented on #58
Usuário consegue acessar modo de edição mesmo não estando logado.

Segue o print:
![botao_edit_funciona_semestarlogado](https://user-images.githubusercontent.com/8026759/36254352-fa4a58a8-1231-11e8-9dac-45c61d204e00.png)

![autentic01](https://user-images.githubusercontent.com/8026759/36308814-4ca59a68-1309-11e8-9ac0-081e2364f1eb.png)

[2018-02-15 11:34] FabioDsg commented on #41
Foi realizado o cadastro de todos integrantes da equipe conforme solicitado. Todos estão com acesso ao Piwik.

Estarei reencaminhando o e-mail com acessos para os demais.

[2018-02-15 11:38] #41 closed, assigned to joenio

[2018-02-15 12:20] luucilia commented on #58
Não existe a opção de fazer upload de imagens na Galeria. O botão "Edit" apenas edita o módulo da Galeria e não oferece  a opção de adicionar imagens por meio de upload.

![galeria](https://user-images.githubusercontent.com/17516861/36256279-619ecee2-1239-11e8-8e28-eead3299315d.png)

[2018-02-15 13:37] luucilia commented on #58
Erro ao tentar aceitar a criação de uma comunidade. Testou-se a funcionalidade de rejeitar a comunidade e funcionou com sucesso, porém a de aceitar retornou erro.

![task](https://user-images.githubusercontent.com/17516861/36259144-5afdfd28-1244-11e8-8635-faa8164561d8.png)

[2018-02-16 12:15] FabioDsg commented on #58
O bloco “HTML puro”, marcadores interessantes, Breadcrumbs Block, Display Content, Video e Evento estão sem funcionalidade uma vez que não existe opção para edição de sua funcionalidade. A única opção editável é o título do bloco.

Segue o print:
![html_puro](https://user-images.githubusercontent.com/8026759/36307191-318dce6e-1302-11e8-87af-d8d6f637cd2c.png)

![html_puro_2](https://user-images.git

[2018-02-16 13:50] luucilia commented on #58
Os links para Agenda, Blog, Convidar amigos, e Bloco de anotação apontam para páginas que não existem ou redirecionam para a página inicial.

![links](https://user-images.githubusercontent.com/17516861/36310521-7382cf92-130f-11e8-9071-638bcdcf38ec.png)

[2018-02-16 18:28] mnt-c commented on #47
Foi reproduzido o erro e houve aplicação em Survey do plugin custom_forms.

O problema foi identificado no arquivo de javascript do próprio plugin  em:

./plugins/custom_forms/public/javascripts/field.js

Peguei como base o que era aplicado para remover botões do Poll do plugin custom forms(./plugins/custom_forms/public/javascripts/poll.js), e alterei o código  encontrando a solução para o problem

[2018-02-19 19:11] mnt-c commented on #47
Fiz um teste removendo um campo, porém contendo submissões e no caso se remover o campo também irá remover as respostas envolvidas daquele campo no banco de dados.

![screenshot from 2018-02-19 16-01-19](https://user-images.githubusercontent.com/18350825/36393496-a090cd96-158e-11e8-9e44-afb706f8686a.png)

Na figura acima eu fiz a remoção do campo 'campodelete'.

![screenshot from 2018-02-19 16-18-

[2018-02-21 13:43] estelanm opened #60 "Problemas para logar com o Gmail e Facebook"
O portal ainda está apresentando problemas para logar com o Facebook e, recentemente, começou a apresentar problemas para logar com o Gmail. Atualmente, só conseguimos logar com login próprio do portal.

[2018-02-21 16:34] joenio commented on #60
O problema com o facebook já é conhecido e está registrado na issue abaixo para o Serpro resolver:
* https://gitlab.com/noosfero-themes/angular-theme/issues/600
* https://gitlab.com/noosfero-themes/angular-theme/issues/400

[2018-02-21 18:36] mnt-c commented on #51
Tinha realizado alguns testes com o ambiente 'fechado'(sem acesso do conteudo aos visitantes), porém não consegui reproduzir a falha.

Dos resultados obtidos:

- Criei uma comunidade e gerei artigos para a mesma
- Acessei seu RSS logado e deslogado
- Fechei o acesso.
- Acessei seu RSS apenas logado.

Teste de RSS de uma comunidade de testes:

![screenshot from 2018-02-20 13-30-45](https://user-ima

[2018-02-23 19:13] mnt-c commented on #47
Foi solicitado o merge request da solução proposta (https://gitlab.com/caiomnt/noosfero/commit/72f35cbdbcfbe687ea2470468ee10cb52eefd3be).

Aguardando aprovação.

[2018-02-26 18:15] mnt-c opened #61 "Sobreposição de botão na criação de um artigo no tema do Juventude"
Ao criar um artigo utilizando o tema do juventude, um botão está sobrepondo a tela de inserção de valores. Quando clica nele novamente ele redimensiona e fica normalizado.

![peek 2018-02-26 15-05](https://user-images.githubusercontent.com/18350825/36686998-02d8e5ce-1b07-11e8-81da-658bd02261af.gif)

No tema padrão o mesmo está normalizado:

![screenshot from 2018-02-26 15-03-22](https://user-image

[2018-02-27 13:49] joenio opened #62 "avaliar noosfero responsivo"
repositório: https://gitlab.com/pedrodelyra/noosfero

[2018-02-27 17:24] joenio commented on #50
@maxbborges avisou aos responsáveis no IBICT por este sistema.

[2018-02-27 17:24] #50 closed, assigned to maxbborges

[2018-02-27 17:34] joenio commented on #47
aguardando aprovação do merge-request

[2018-02-28 20:37] joenio opened #63 "CustomFormsPlugin: Hover breaks polls block submit button on block editor page"
https://gitlab.com/noosfero/noosfero/issues/304

[2018-03-06 16:57] joenio commented on #53
fiz uma prova de conceito com uma possível correção para o problema, @luciliapo dá uma olhada no patch em anexo, use apenas como inspiração, creio que deve haver melhor caminho para solucionar o problema, tb não implementei nenhum teste.

[0001-display-SVG-images-on-original-version-no-thumbnails.patch.gz](https://github.com/IBICT/noosfero/files/1785884/0001-display-SVG-images-on-original-version-

[2018-03-08 18:58] maxbborges opened #64 "Bloco CustomForms no Environment"
Na edição de blocos laterais do ambiente environment, quando habilitado o plugin do CustomForms, é apresentado para inserção dois novos blocos, o bloco polls e o bloco surveys. Entretanto, o CustomForms busca polls e surveys criadas no perfil, e o ambiente environment não está atrelado a nenhum perfil, não inserindo o bloco e apresentando erro após atualizar a pagina.

Tela de edição de blocos lat

[2018-03-08 19:16] maxbborges commented on #63
O botão enviar usava a classe genérica "button-bar", essa mesma classe era usada pelos blocos laterais para ocultar o menu de opções de edição do bloco, isso tava fazendo com que o botão enviar ficasse desconfigurado. Para arrumar esse problema, foi necessário atribuir uma nova classe, além da existe, ao menu de opções dos blocos, ficando ".button-bar .button-bar-boxes" e modificando a criação de

[2018-03-08 19:21] mnt-c opened #65 "Balão de dicas com visualização fraca"
Encontrado na criação de novo usuário em mais de 2 temas, onde quando focado um campo a dica num formato de balão é chamada, porém com uma visualização não muito amigavel.

![screenshot from 2018-03-08 14-06-34](https://user-images.githubusercontent.com/18350825/37171268-0fa5cf6e-22ec-11e8-9702-a37d6d23e90e.png)

[2018-03-08 19:24] mnt-c commented on #58
Ao escolher o tema angular em uma comunidade, a mesma apresenta lentidão ao abrir a página que possui o tema incluido.

[2018-03-09 18:43] mnt-c commented on #58
Ao criar uma nova comunidade no tema padrão, é apresentado uma caixa com o fundo amarelo informando a participação da comunidade, mas a mesma aparece para quem já é integrante e o seu link para realizar a participação não teve tratamento de variavel na url.

No tema do angular a caixa aparece por poucos segundos ao carregar a página.

![screenshot from 2018-03-09 15-39-23](https://user-images.gith

[2018-03-09 18:58] mnt-c commented on #58
Ao criar um novo artigo alguns icones não possuem nomes amigaveis ao criar o conteúdo de texto. Há um código "&nbps" ao fim da criação do artigo e ser criado o artigo se a quantidade de caracteres for consideravel ele não possui uma quebra de linha.

 Icones:

![screenshot from 2018-03-08 15-27-28](https://user-images.githubusercontent.com/18350825/37224254-af190960-23b1-11e8-9ffb-f669b0bc3fa4.png

[2018-03-12 16:56] mnt-c commented on #51
Consegui reproduzir a falha, utilizando o leitor de RSS que vem imbutido no Firefox e com uma extensão chamada FeedBro.

FeedBro sem o bloqueio de RSS:

![screenshot from 2018-02-26 15-42-15](https://user-images.githubusercontent.com/18350825/37296035-8930ff48-25f8-11e8-82ef-2d94b08eba64.png)

FeedBro com o bloqueio de RSS:

![screenshot from 2018-02-26 15-41-19](https://user-images.githubusercont

[2018-03-12 17:20] maxbborges commented on #51
A barra de tags está sobrescrevendo o menu lateral, como segue a imagem abaixo.
Esse bug aparece quando é acessado o painel de controle, depois em tarefas
![captura de tela de 2018-03-12 14-17-41](https://user-images.githubusercontent.com/18174772/37298837-3fbda8cc-2600-11e8-80cf-17ca91a59f25.png)

[2018-03-12 17:22] maxbborges commented on #58
A barra de tags está sobrescrevendo o menu lateral, como segue a imagem abaixo.
Esse bug aparece quando é acessado o painel de controle, depois em tarefas

![captura de tela de 2018-03-12 14-17-41](https://user-images.githubusercontent.com/18174772/37299009-d6046b86-2600-11e8-80c1-7445cc49b554.png)

[2018-03-12 17:28] maxbborges commented on #58
Ícone de remover amigos não é apresentado. Aparece apenas um quadrado sem nenhum ícone ou informação:

![captura de tela de 2018-03-12 14-26-01](https://user-images.githubusercontent.com/18174772/37299201-6acb6184-2601-11e8-982e-662020f2e041.png)

[2018-03-12 18:19] maxbborges commented on #58
Ao tentar cria uma nova comunidade usando o tema do angular, o botão Salvar Alteração (Botão usado para criar a comunidade) n tem nenhum efeito, não criando a comunidade.

![captura de tela de 2018-03-12 15-17-24](https://user-images.githubusercontent.com/18174772/37301883-b3647a82-2608-11e8-9847-0c5bea70e6b9.png)

[2018-03-12 18:40] mnt-c commented on #58
Ao entrar numa comunidade no tema do Angular é retornado uma chamada de função não uma mensagem de sucesso.

![image](https://user-images.githubusercontent.com/18350825/37303747-2fbc1c02-260e-11e8-8876-3f56f6d31fbb.png)

[2018-03-12 19:13] mnt-c commented on #58
Em uma comunidade não é posível criar uma discussão a mesma gera um erro  ao criar:

![image](https://user-images.githubusercontent.com/18350825/37304377-2ddd62ae-2610-11e8-833c-10731d775614.png)

****Testei novamente foi solucionado a criação da discussão ✔**

Porém ao acessar a discussão foi retornado um erro 500:

![screenshot from 2018-03-14 12-55-01](https://user-images.githubusercontent.com/

[2018-03-13 11:50] luucilia commented on #58
Erro ao criar um novo usuário, aparece a mensagem "Certifique-se de que você fez o teste para confirmar que você não é um robô.", sendo que ao preencher os campos não existe nenhum captcha ou algo semelhante, impossibilitando a criação de um novo usuário.

![robo](https://user-images.githubusercontent.com/17516861/37340036-744ca7be-269b-11e8-953a-444f178032f7.png)

[2018-03-13 14:15] estelanm opened #66 "Páginas carregando desconfiguradas"
As vezes, as páginas carregam fora de configuração...
![whatsapp image 2018-03-12 at 11 25 58](https://user-images.githubusercontent.com/34688898/37347081-ce669fca-26af-11e8-9fa4-c7c419c466e4.jpeg)
![whatsapp image 2018-03-12 at 11 27 30](https://user-images.githubusercontent.com/34688898/37347083-ce948980-26af-11e8-8d19-96d30974ed47.jpeg)

[2018-03-13 14:33] estelanm opened #67 "Um usuário relatou problemas nestas páginas"
Não sei que tipo de problema, porém acredito que é instabilidade do servidor mesmo

Páginas com problemas no site juventude – Estação Juventude
Links (editais e documentos) da página http://juventude.gov.br/estacaojuventude/edital-12017#.Wqfe6Grwbb1

http://juventude.gov.br/estacaojuventude/arquivos/e-book-a-5-caderno-juventude.pdf
http://www.juventude.gov.br/estacao-juventude-gestores/modelos/mod

[2018-03-13 14:40] FabioDsg commented on #66
Bom dia, Estela!
O problema ainda persiste?
Acabei de realizar um teste na página acima e abriu normalmente, inclusive utilizando o navegador firefox.

[2018-03-13 14:45] FabioDsg commented on #67
Estamos verificando.

[2018-03-13 14:57] FabioDsg commented on #67
@estelanm Está sendo realizada uma manutenção e temporariamente a navegação no portal será afetada causando esses erros.

[2018-03-14 17:05] mnt-c commented on #47
O código somente removia o text field da survey, porém não removia as opções de seleções.

Foi atualizado o merge-request (https://gitlab.com/noosfero/noosfero/merge_requests/1406) com as configurações e aguardando aprovação

[2018-03-14 17:38] mnt-c commented on #58
Ao entrar em um comunidade que tenha tema angular, a sessão de usuário que foi autenticada em outro tema não fica mantida e ao logar com o tema do angular não fica mantido a sessão no tema padrão.

![peek 2018-03-14 14-38](https://user-images.githubusercontent.com/18350825/37420448-906406f4-2795-11e8-8bd8-26aad2950d6f.gif)

[2018-03-15 12:23] #67 closed, assigned to nobody

[2018-03-15 12:26] #66 closed, assigned to nobody

[2018-03-15 13:08] estelanm commented on #66
É um problema que vai e volta... como quase todos apresentados! hahaha

[2018-03-16 18:39] joenio opened #68 "estudar o attachment_fu numa aplicação rails simples"
* criar 1 aplicação rails nova e plugar o attachment_fu, compreender o uso básico dele.
* criar 1 aplicação rails nova e plugar o paperclip, compreender o uso básico dele.

[2018-03-16 19:52] joenio opened #69 "implementar novo tema do juventude usando noosfero-responsivo"

[2018-03-16 20:50] joenio opened #70 "validar se o paperclip funciona bem com imagens svg"

[2018-03-16 20:55] joenio commented on #51
fechando issue uma vez que iremos refatorar o noosfero para incluir funcionalidade de compartilhar conteúdo privado com token.

[2018-03-16 21:02] joenio opened #71 "criar protótipo de tela para compartilhamento com meteor"
criar tela simulando a interface de edição de artigos do noosfero com novo campo, botão ou link para gerar token e link para compartilhamento.

[2018-03-16 21:10] joenio opened #72 "rodar localmente e estudar o noosfero-responsivo"
validar o quão maduro está o noosfero-responsivo e avaliar se é viável a adoção dele para o novo tema do juventude.gov.br.

[2018-03-16 21:12] joenio opened #73 "entrar em contato com o design do ibict e solicitar o protótipo do novo tema"
avaliar se o design proposto pelo ibict encaixa no noosfero-responsivo e iniciar implementação em código no noosfero.

[2018-03-16 21:12] #51 closed, assigned to mnt-c

[2018-03-16 21:13] joenio opened #74 "revisar merge request do Botão "Remove Field" do Custom Forms"
issue #47

[2018-03-16 21:13] #47 closed, assigned to mnt-c

[2018-03-16 21:15] joenio commented on #58
a avaliação final é de que o tema angular está ainda muito imaturo e com muitos bugs, iremos avaliar o nosofero-responsivo como alternativa.

[2018-03-16 21:15] #58 closed, assigned to FabioDsg, luucilia

[2018-03-16 21:16] joenio opened #75 "revisar merge request CustomFormsPlugin: Hover breaks polls block submit button on block editor page"
https://gitlab.com/noosfero/noosfero/merge_requests/1415

[2018-03-16 21:17] joenio commented on #63
merge request feito por @maxbborges, irei revisar o merge request #75

[2018-03-16 21:17] #63 closed, assigned to maxbborges

[2018-03-16 21:20] joenio opened #76 "entender os conceitos do active record e suas relações"
ler com atenção e realizar os exercícios práticos propostos no documento abaixo:

* http://guides.rubyonrails.org/association_basics.html

[2018-03-16 21:23] joenio commented on #53
iremos refatorar o noosfero para usar o paperclip uma vez que ele já lida bem con imagens svg

[2018-03-16 21:23] #53 closed, assigned to FabioDsg, luucilia

[2018-03-19 19:07] estelanm opened #77 "Erro ao colocar novo destaque no carrossel da página inicial"
![image](https://user-images.githubusercontent.com/34688898/37616732-9e27a77a-2b8f-11e8-9769-4dd24a1f0272.png)

[2018-03-20 12:47] luucilia commented on #77
@estelanm, a intenção é adicionar uma nova imagem no carrossel de imagens ou um novo banner além daqueles 3 que têm no site atualmente?

[2018-03-20 17:04] maxbborges commented on #65
Aguardando aceitação do merge
Link https://gitlab.com/noosfero/noosfero/merge_requests/1419

As modificações efetuadas foram:
https://gitlab.com/noosfero/noosfero/commit/7dee4b925e3b4f6dcb73ada77f4eb7fa16af420c

[2018-03-22 12:39] FabioDsg commented on #62
Foi identificado que as implementações em relação ao tema responsivo, foram realizadas diretamente no código do Noosfero e não em forma de plugin como esperado, o que para o momento não atende a proposta. Aguardando confirmação para fechar a issue.

[2018-03-26 13:51] FabioDsg commented on #73
O design estará atuando no tema novo assim que o portal estiver atualizado e homologado.
No momento  não é possível a disponibilização de um protótipo.

[2018-03-26 14:00] FabioDsg commented on #72
Foi verificado que as implementações relacionadas a responsividade, foram realizadas diretamente no código do Noosfero. Em um primeiro momento parece não atender a proposta, uma vez que o intuito inicial seria não realizar alterações diretamente no código fonte.

[2018-03-26 14:29] luucilia commented on #70
Eu testei o paperclip e ele funciona bem com imagens svg e com a parte de criar thumbnails. Eu coloquei no meu git um programa simples que faz upload de imagens e gera as thumbnails, segue o link: https://github.com/luciliapo/uploader_paperclip.

No entanto, eu fiz uma pesquisa e vários sites não recomendam o uso do paperclip quando se trata de aplicações complexas com vários uploads, processament

[2018-03-26 18:03] maxbborges commented on #65
Merge aceito!

[2018-03-26 18:03] #65 closed, assigned to maxbborges

[2018-03-27 14:16] estelanm opened #78 "Retirar faixa preta de título no banner do carrossel"
Pessoal, como nossos banners que vão para o carrossel na página principal já vem com título, optamos por retirar a opção de título que o noosfero oferece. Acontece que, qnd retiramos o título, uma faixa preta permanece, como na figura abaixo. Lembrando que não é td banner que vai sem título, então a opção de titular o banner tem q continuar existindo, porém a faixa preta deve desaparecer, caso o u

[2018-03-27 16:20] joenio commented on #72
@FabioDsg não entendi muito bem porque não atende, o que significa "intuito inicial seria não realizar alterações diretamente no código fonte" ?

[2018-03-27 16:23] joenio commented on #73
@FabioDsg lembro que o ibict já tinha contratado alguém para desenhar uma proposta de layout, nós precisamos ter acesso a essa proposta, você entrou em contato com quem no ibict sobre isso?

[2018-03-27 16:25] joenio commented on #62
@FabioDsg porque era esperado que fosse plugin?

[2018-03-27 16:29] maxbborges commented on #78
O banner 11, do novo juventude viva, estava com título. Esse titulo teve o texto centralizado para uma melhor apresentação. Mas caso não tenha gostado podemos retirar também:
![captura de tela de 2018-03-27 13-24-57](https://user-images.githubusercontent.com/18174772/37980808-6a88cf28-31c2-11e8-9fc7-02d920d49f7b.png)

Para os outros banners, sem titulo, foi retirado a tarja:
![captura de tela de 2

[2018-03-27 16:47] maxbborges commented on #64
Cada plugin que insere novas opções de blocos laterais, possui o campo:
[code]

O Custom Forms, cria 2 novos blocos, são eles o Survey e o Polls:
[code]
Os parâmetros entre { } define em quais páginas esses blocos serão criados, quando estão em branco, é criado em todas as paginas que possui blocos laterais. Entretanto, o plugin usa os dados criados em cada comunidade para criar uma lista específi

[2018-03-27 18:39] joenio commented on #49
o Leo da DITEC/PR não permitiu compartilhar os arquivos que estão em produção.

[2018-03-27 18:39] #49 closed, assigned to joenio

[2018-03-27 19:17] joenio commented on #70
legal @luciliapo bom trabalho!

parece mesmo que o paperclip sofre uma série de problemas, dei uma lida bem rápida em alguns blogs e notei que ele não parece ser mesmo a melhor opção, fiquei em dúvida sobre uma outra alternativa, um projeto chamado Shrine, me parece uma boa alternativa, você pode avaliar ele em comparação com o CarrierWave para termos uma idéia de qual seria mais indicado?

link p

[2018-03-27 19:21] joenio commented on #76
@caiomnt @maxbborges @FabioDsg @luciliapo vocês fizeram esse "dever de casa" já?

[2018-03-27 19:22] #75 closed, assigned to joenio

[2018-03-27 19:26] joenio commented on #74
rodrigo souto revisou e aceitou o merge

[2018-03-27 19:26] #74 closed, assigned to joenio

[2018-03-28 11:17] FabioDsg commented on #62
Acredito que me expressei de forma errada ao utilizar o termo “plugin” e entendi errado a ideia.

[2018-03-28 11:18] FabioDsg commented on #72
Percebo que houve um equívoco da minha parte. Estarei buscando entender melhor e reavaliando.

[2018-03-28 11:50] FabioDsg commented on #73
Falei diretamente com Milton, a informação obtida foi que, devido a existência de outras demandas, o design ainda não deu início a esta. O trabalho no tema será iniciado assim que  uma versão atualizada e estável do portal estiver rodando.

Assim não há um protótipo disponível no momento.

[2018-03-28 13:42] FabioDsg commented on #76
A parte teórica está em andamento. Os exercícios ainda não.

[2018-03-29 14:50] luucilia commented on #70
Eu testei o CarrierWave e as funções básicas como upload de uma única imagem e gerar thumbnails para vários formatos de imagens funcionam, além disso testei com a funcionalidade de upload de múltiplas imagens e funcionou também. Salvei no meu git: https://github.com/luciliapo/uploader_carrierwave

A documentação é bem clara e concisa e tem várias outras funcionalidades como ajustar a imagem, fazer

[2018-03-29 15:01] joenio commented on #73
ok, fechando a issue por hora então, @FabioDsg você pode pedir ao milton nos avisar quando o design começar a ser elaborado? valeu!

[2018-03-29 15:01] #73 closed, assigned to FabioDsg

[2018-03-29 17:47] maxbborges commented on #76
Eu só fiz uma leitura superficial de algumas funcionalidades, hj que vou testar e entender o funcionamento.

[2018-04-02 19:18] estelanm opened #79 "Substituir video na página inicial"
Tentei substituir o video da página inicial e tenho o acesso negado após salvar a edição.
O  novo vídeo está neste link: https://youtu.be/ZahN05JoaH0
![image](https://user-images.githubusercontent.com/34688898/38211621-70bfcd1e-3691-11e8-8a39-9fae62a75a12.png)

[2018-04-03 18:16] mnt-c commented on #79
Consegui reproduzir o problemas, quando um bloco de vídeo é inserido/editado ele aparece algumas opções, conforme a imagem abaixo:

![image](https://user-images.githubusercontent.com/18350825/38266986-76a5c23c-3750-11e8-9a14-31e80e79662b.png)

Na parte que possui **Opções de edição**, possui um problema quando é escolhido **Não pode ser Modificada**. Ele não permite edição do conteúdo mesmo como c

[2018-04-03 18:16] #79 closed, assigned to nobody

[2018-04-04 13:59] luucilia commented on #70
Eu testei o Shrine e o desempenho  e as funcionalidades superficialmente falando são semelhantes ao CarrierWave. O criador do Shrine aponta que a forma como lida com as imagens em background é mais eficiente que o CarrierWave. Um simples protótipo pode ser encontrado em: https://github.com/luciliapo/uploader_shrine

No meu ponto de vista, o Shrine parece ter um grande potencial. Minha preocupação

[2018-04-05 13:30] #70 closed, assigned to luucilia

[2018-04-05 13:31] #76 closed, assigned to FabioDsg, luucilia, maxbborges, mnt-c

[2018-04-05 13:31] joenio commented on #64
pendente implementar testes.

[2018-04-05 13:33] joenio opened #80 "implementar testes e fazer merge-request corrigindo bloco CustomForms no Environment"
relacionada a issue #64

[2018-04-05 13:33] joenio commented on #64
vamos continuar essa issue na Sprint 5 #80

[2018-04-05 13:33] #64 closed, assigned to maxbborges

[2018-04-05 13:34] #72 closed, assigned to FabioDsg

[2018-04-05 18:39] estelanm opened #81 "Abrir possibilidade de programar postagens futuras"
Ao postar um novo artigo de texto, o Noosfero não permite que se programe a postagem para uma data futura. Existe a possibilidade de habilitar esta função?
![image](https://user-images.githubusercontent.com/34688898/38385136-7930b564-38e7-11e8-9ca8-49cc4f93b4d2.png)

[2018-04-06 13:23] luucilia commented on #81
@estelanm,

A princípio, não existe essa funcionalidade na versão atual do Noosfero. Eu vou conversar com o @joenio para ver se tem como criar essa função, mas, por enquanto, terá que usar o Juventude sem essa implementação.

[2018-04-06 17:21] mnt-c commented on #71
Havia criado com o meteor uma tela muito simples  com o objetivo a ideia para funcionalidade.

![screenshot from 2018-04-06 13-30-37](https://user-images.githubusercontent.com/18350825/38434764-e8ee092e-39a5-11e8-9e17-aa08f87864f8.png)

Inicialmente pensou em deixar os icones mais proximos numa aba lateral, ou uma forma que fosse mais facil navegar nos items e diminuir a barra de rolagem, segmenta

[2018-04-06 18:26] mnt-c commented on #71
No ambiente responsivo do Noosfero e no tema do angular, tem uma interface mais interativa de dados. Vou testar um novo modelo do meteor com base em um desses temas.

[2018-04-09 14:14] FabioDsg commented on #62
O projeto está muito bom, layout bonito, parece estar maduro e funcionando com fluidez. A última atualização, solucionou alguns bugs, como o botão salvar que não executava a função, porém mesmo após a atualização, ao menos na minha instalação local, alguns ícones continuam não aparecendo corretamente, o que após uma investigação, parece ser uma instabilidade relacionada a nome dos atributos.

Exem

[2018-04-09 14:22] FabioDsg commented on #62
Ainda estou testando a funcionalidade de criar consulta pública. Ativei o plugin community_track
via:
**./script/noosfero-plugins enable plugins/community_track**, o status aparece como ativo ao rodar:

**./script/noosfero-plugins status**, porém mesmo após reiniciar o serviço, não encontrei a opção de trilha ou semelhante.

[2018-04-12 21:48] estelanm opened #82 "Criar Comunidade "Conselhos em Rede""
Precisamos criar esta comunidade e, na página inicial dela, embedar um Formulário do Google. Lembrem de deixar um espaço acima pra que eu possa adicionar um parágrafo.

Segue link do form: https://docs.google.com/forms/d/e/1FAIpQLSdMeRqxsxqln9QyizjaAW-EIPR1KBSQ00aY8ednLsUcFfyujQ/viewform?usp=sf_link

(não tem codigo de incorporação pq o form tem upload de arquivos, alguma solução pra isto?)

Segue

[2018-04-13 01:18] joenio commented on #82
**opção 1** adicionar o código abaixo num artigo da comunidade, editando o html dele:

[code]

veja exemplo em: http://juventude.gov.br/joenio/survey-teste

apesar de funcionar, essa solução tem o iconveniente de exibir um botão pedindo login ao usuário.

ps.: o mesmo pode ser feito com um bloco HTML.

[2018-04-13 01:34] joenio commented on #82
**opção 2** adicionar o código abaixo num bloco html puro (o firewall me bloqueou):

[code]

veja exemplo em: http://softwarelivre.org/joenio?lang=eo

essa solução tem o inconveniente de exibir o "popup" em todas as páginas da comunidade.

[2018-04-13 11:59] FabioDsg commented on #82
Segue o link da comunidade criada conforme solicitado. Foi utilizado o código sugerido pelo @joenio na primeira opção.

http://juventude.gov.br/conselhos-em-rede/blog#.WtCbWYDQ-Cg

Foi sugerido também verificar as opções de configurações no Google Forms afim de remover a possível restrição que esteja causando esse pop-up solicitando login.

[2018-04-13 14:27] estelanm commented on #82
Criar ícone da comunidade na pagina inicial
![image](https://user-images.githubusercontent.com/34688898/38740299-9b583a00-3f0d-11e8-9494-4cd82d80ea94.png)

[2018-04-13 14:36] FabioDsg commented on #82
@estelanm Usar a mesma imagem do perfil da comunidade?

[2018-04-13 14:55] estelanm commented on #82
Isso! ^^ precisa ser em outra dimensão?

[2018-04-13 17:39] estelanm commented on #82
Pessoal, a página inicial deste comunidade deve ser a que está com o formulário publicado. No momento, a que aparece quando clicamos no novo ícone criado é esta:

![image](https://user-images.githubusercontent.com/34688898/38749571-6c7151f2-3f28-11e8-8fde-2a90b2fdb487.png)

[2018-04-13 18:19] estelanm commented on #82
Nesta imagem de cabeçalho, preciso incluir o link para o formulário, porém não consigo incluir da maneira convencional. Vcs podem fazer isso no html? link: https://goo.gl/forms/B3v6Xe5MV9lZAm0V2

![image](https://user-images.githubusercontent.com/34688898/38751308-08f4865c-3f2e-11e8-94ac-694756d141dd.png)

[2018-04-13 19:03] mnt-c commented on #82
A imagem ela em geral é auto redimensionada para não fugir um bloco, então precisa se preocupar tanto caso ela seja muito grande. ;)

Para definir uma pagina/blog/outros como página inicial o processo é simples:

No painel de controle acessamos a parte de "Gerenciar Conteúdo" e podemos escolher o que deverá ser a página inicial:

![image](https://user-images.githubusercontent.com/18350825/38752965

[2018-04-13 20:38] mnt-c commented on #71
Na nova modelagem com meteor, fiz um teste que poderia ser proximo da funcionalidade para o usuário. Fui tendo como uma visão o tema responsivo. E ideia que foi pensada foi a seguinte:

1. O usuário teria em uma das opções de uma publicação, algo como um botão de compartilhamento;
2. Apareceria algo como um frame com a tela de compartilhamento;
3. Nessa tela ele iria poder gerar um link para compa

[2018-04-17 13:51] estelanm opened #83 "consulta pública na comunidade Plano Nacional de Juventude"
Ano passado , fizemos uma consulta pública na comunidade Plano Nacional de Juventude
Ela ficou disponível de novembro a janeiro deste ano
Precismos resgatar esta página para uma filmagem
O Joenio que desenvolveu a página na época, ele deve ter o caminho mais fácil pra isso

[2018-04-17 14:21] luucilia commented on #83
A página da Consulta Pública foi liberada para acesso ao público e pode ser acessada pelo link: http://juventude.gov.br/plano-nacional-de-juventude/blog/consulta-publica-online-contribua-com-o-plano-nacional-de-juventude

[2018-04-17 15:14] #83 closed, assigned to nobody

[2018-04-17 18:06] maxbborges commented on #64
Aguardando aprovação do merge:
https://gitlab.com/maxbborges/noosfero/commit/84878116685b50ca75ef51f8bd719b3d79575aca

[2018-04-18 16:56] estelanm opened #84 "criar pop up na página inicial"
pessoal, preciso de uma pop up na pagina inicial com a seguinte imagem, para o seguinte link:

http://juventude.gov.br/conselhos-em-rede

![whatsapp image 2018-04-13 at 17 05 10](https://user-images.githubusercontent.com/34688898/38946582-4de8ce22-4310-11e8-967f-31003c9cf3a2.jpeg)

[2018-04-18 18:09] mnt-c commented on #84
Estella a criação do "pop-up" é feita por javascript, que geralmente é bloqueado na rede. Inclui um código para testar o resultado e como esperado fui bloqueado.

![screenshot from 2018-04-18 15-22-43](https://user-images.githubusercontent.com/18350825/38950632-80a41eaa-431c-11e8-84e1-7020e48f2349.png)
<p>
<details>
  <summary>Código de teste</summary>

[code]

</details>
</p>
<p></p>

Encaminhei

[2018-04-18 19:25] maxbborges commented on #69
Foi feito o commit inicial para o repositório https://gitlab.com/noosfero-themes/juventude-responsivo.git.
Para uso, o repositório deverá ser clonado para a pasta de temas do noosfero.

O commit inicial conta com todos os arquivos, sem alteração, do tema padrão do noosfero.

[2018-04-20 15:29] maxbborges commented on #80
Aguardando aprovação do merge:
https://gitlab.com/maxbborges/noosfero/commit/84878116685b50ca75ef51f8bd719b3d79575aca

[2018-04-20 15:29] maxbborges commented on #80
Merge aceito:
https://gitlab.com/noosfero/noosfero/merge_requests/1436#note_69358437

[2018-04-20 15:30] #80 closed, assigned to maxbborges

[2018-04-20 19:12] maxbborges commented on #69
Nesse commit, foi inserido o header e o footer do tema do juventude, ficou funcional, entretanto a div
[code]
que está no arquivo header.html.erb está apresentando problemas ao testar a visualização por mobile.

commit:
https://gitlab.com/noosfero-themes/juventude-responsivo/commit/e05a797df39842cac3fdf798f47b9cdd6e43bf7c

[2018-04-23 14:18] luucilia opened #85 "Homologação Participa"
Após aquela reunião com o Leandro da SERPRO, as mudanças pedidas para o Participa foram realizadas e o Janio pediu para que a gente homologue essa nova versão.

Uma planilha foi criada para preenchermos com os dados da homologação.

- A coluna **Homologação** é para marcar Sim se a issue citada foi resolvida e Não se a issue ainda persistir.
- A coluna **Defeito encontrado** deve especificar o def

[2018-04-26 17:05] estelanm opened #86 "Inclusão de Agenda da SNJ e do secretário"
Pessoal, precisamos disponibilizar a agenda da Secretaria, com os eventos e etc, além da agenda do secretário. Sei q o software tem essa ferramenta, porém preciso que me ajudem pensando na melhor maneira de fazer. Vou disponibilizar imagens com a agenda deste mês pra vcs irem testando (pode testar já publicado, já que o secretário pede pressa).

![whatsapp image 2018-04-26 at 10 53 05 1](https://u

[2018-04-27 10:42] FabioDsg commented on #86
Bom dia! Estela!
Dá uma olhada nessa agenda: http://www.fab.mil.br/comandante

[2018-05-11 12:35] luucilia commented on #85
Segue planilha com os itens corrigidos pelo Serpro. Eles estão assinalados na coluna “Resolvido (Sim/Não)” com sim. Peço que validem os marcados em amarelo primeiro, se possível **até dia 15**.

São 25 itens em amarelo e 32 normais, que podem ser homologados posteriormente aos em amarelo.

Link para a nova planilha: https://docs.google.com/spreadsheets/d/1ZQeve-yKPlmWI4ovvZeVM2mmUEtxQGnB9MLANd7MXL

[2018-05-11 13:00] luucilia commented on #68
Segue o link do attachment_fu em uma aplicação rails simples: https://gitlab.com/caiomnt/upload.

[2018-05-11 13:00] #68 closed, assigned to luucilia, mnt-c

[2018-05-11 13:06] luucilia commented on #42
O documento oficial foi criado e se encontra em: http://revistasnj.ibict.br/ojs_snj/index.php/snj/article/view/81.

[2018-05-11 13:06] #42 closed, assigned to nobody

[2018-05-11 13:07] luucilia commented on #56
Tarefa realizada.

[2018-05-11 13:07] #56 closed, assigned to nobody

[2018-05-11 13:09] luucilia commented on #77
Essa issue foi resolvida.

[2018-05-11 13:09] #77 closed, assigned to nobody

[2018-05-11 13:09] luucilia commented on #78
Issue resolvida.

[2018-05-11 13:09] #78 closed, assigned to nobody

[2018-05-11 13:12] luucilia commented on #82
Comunidade, ícone e formulários criados.

[2018-05-11 13:12] #82 closed, assigned to nobody

[2018-05-17 13:47] #71 closed, assigned to mnt-c

[2018-05-17 13:47] #62 closed, assigned to FabioDsg

[2018-05-17 14:05] #8 closed, assigned to nobody

[2018-05-17 14:15] joenio opened #87 "migrar tema do participa.br para o novo padrão responsivo"
Usar como base o tema padrão responsivo do noosfero localizado no repositório do Noosfero em `public/designs/themes/noosfero`, copiar esse tema `noosfero` para `participa-responsivo` e subir no repositório abaixo.

Adaptar o tema trazendo o layout do tema Participa.br atual para este novo tema participa-responsivo, não copiar todo o CSS, HTML ou JS do tema atual pois há muito **lixo**, é necessári

[2018-05-17 14:31] joenio opened #88 "atualizar receitas do capistrano para o novo noosfero"
* Capistrano: http://capistranorb.com/
* Receitas do Capistrano para Participa.br e Juventude.gov.br: https://gitlab.com/noosferogov/capistrano

As tasks do Capistrano não estão funcionando para o novo Noosfero 2.0.0+.

[2018-05-17 19:37] maxbborges commented on #69
Foram feitas melhorias gerais no theme-header e a parte responsiva do top-header.

Commit:
https://gitlab.com/noosfero-themes/juventude-responsivo/commit/30aa549e750d1801be4844614c9b9862221e462c

[2018-05-22 14:16] FabioDsg opened #89 "Reduzir tamanho da janela de login"
![window_login](https://user-images.githubusercontent.com/8026759/40368177-927a1c60-5db1-11e8-84a1-f16b9b56eb91.png)

[2018-05-23 18:37] estelanm opened #90 "Dificuldade criar novos artigos na área de editais"
Estou desde a semana passada tentando publicar uns editais na sessão "editais e convênios" do portal da Juventude. Ou dá erro de rede, ou erro do Noosfero temporariamente indisponível ou este que anexo em seguida:

![editais](https://user-images.githubusercontent.com/34688898/40444222-23e24694-5e9f-11e8-86c0-f22a1eef36bf.PNG)

[2018-05-24 12:06] FabioDsg commented on #90
@estelanm De acordo com a mensagem de erro, o título parece já estar sendo usado. Chegou a tentar com um título diferente?

[2018-06-04 17:39] estelanm opened #91 "Noosfero com problema"
Bom dia, estamos com problemas no Noosfero hoje.

Alguma novidade em relação a atualização do software?
![image](https://user-images.githubusercontent.com/34688898/40932522-fd345086-6804-11e8-993f-f1a826a0a093.png)

[2018-06-15 15:53] estelanm opened #92 "Erro ao logar com Google"
![image](https://user-images.githubusercontent.com/34688898/41477566-1394b6a6-709b-11e8-8583-1b8b90cd57f0.png)

[2018-06-15 16:09] estelanm opened #93 "Erro ao logar com Facebook"
![image](https://user-images.githubusercontent.com/34688898/41478258-5a4e90c4-709d-11e8-83ab-2daed40968d5.png)

[2018-07-04 19:47] FabioDsg opened #94 "Remover background da comunidade Plano Nacional de Start Ups"
O background foi removido conforme solicitado através da remoção do bloco de HTML puro contento o seguinte código:

`<style>
#wrap-1 #wrap-2 {
  background: url('http://www.webdesigndev.com/wp-content/uploads/2015/02/Subtle-Light-Tile-Pattern-Vol2.jpg');
}
</style>`

[2018-07-04 19:48] #94 closed, assigned to nobody

[2018-07-04 19:50] FabioDsg opened #95 "Criar botão de download para arquivo PDF"
Foi solicitado a criação de um botão de download na comunidade Plano Nacional de Start Ups no intuito de disponibilizar um documento no formato PDF para download.

[2018-07-05 17:51] estelanm opened #96 "Arquivo PDF - botão comunidade"
em anexo, o arquivo para PDF que ficará no botão "Baixe o Plano Nacional de Empreendedorismo e StartUp para a Juventude"

[Plano Nacional de Startups_VISUALIZAÇÃO_.pdf](https://github.com/IBICT/noosfero/files/2167662/Plano.Nacional.de.Startups_VISUALIZACAO_.pdf)

[2018-07-05 17:51] #96 closed, assigned to nobody

[2018-07-05 17:52] estelanm commented on #95
em anexo, o arquivo para PDF que ficará no botão "Baixe o Plano Nacional de Empreendedorismo e StartUp para a Juventude"

Plano Nacional de Startups_VISUALIZAÇÃO_.pdf

[2018-07-05 17:52] estelanm commented on #95
[Plano Nacional de Startups_VISUALIZAÇÃO_.pdf](https://github.com/IBICT/noosfero/files/2167670/Plano.Nacional.de.Startups_VISUALIZACAO_.pdf)

[2018-07-05 18:49] estelanm opened #97 "Alterações no Portal - adequações ao período eleitoral"
Boa tarde,
Seguem as alterações:

![whatsapp image 2018-07-05 at 15 14 01](https://user-images.githubusercontent.com/34688898/42341830-c0efcb04-806a-11e8-9397-2d168963d096.jpeg)
Substituir banner superior por esta imagem:

![whatsapp image 2018-07-05 at 15 15 18](https://user-images.githubusercontent.com/34688898/42341853-d2837758-806a-11e8-8707-1b87aceac7eb.jpeg)

![whatsapp image 2018-07-05 at 1

[2018-07-05 19:06] estelanm commented on #97
![whatsapp image 2018-07-05 at 15 14 09](https://user-images.githubusercontent.com/34688898/42342234-edf85b6a-806b-11e8-8549-05203a8322a5.jpeg)

substituir os botões por estas imagens a seguir

![whatsapp image 2018-07-05 at 15 55 28 1](https://user-images.githubusercontent.com/34688898/42342713-480c121c-806d-11e8-8ce0-cfb01281e19d.jpeg)
![whatsapp image 2018-07-05 at 15 55 28](https://user-images

[2018-07-05 19:55] estelanm commented on #97
banner anterior estava errado, segue banner com ajustes

![whatsapp image 2018-07-05 at 16 54 43](https://user-images.githubusercontent.com/34688898/42344936-3a10e334-8074-11e8-9713-0ae918fe038f.jpeg)

[2018-07-05 20:14] estelanm commented on #95
Arquivo anterior com erros. Segue o correto:

[Plano Nacional de Startups_VISUALIZAÇÃO(1).pdf](https://github.com/IBICT/noosfero/files/2168086/Plano.Nacional.de.Startups_VISUALIZACAO.1.pdf)

[2018-07-06 15:12] FabioDsg commented on #97
As modificações iniciais foram realizadas conforme o solicitado.

@estelanm Estou com uma dúvida em relação ao banner, a idéia seria a subtituição do banner todo ou apenas essa logo?

<img width="212" alt="old_logo" src="https://user-images.githubusercontent.com/8026759/42386418-d12cf3ec-8115-11e8-9f0f-09a3529fa973.PNG">

De qualquer forma, a logo faz parte do background que teria que ser substitu

[2018-07-06 16:03] luucilia commented on #95
O firewall bloqueia a opção de colocar um botão, então eu coloquei de forma simplificada a opção de fazer o download do PDF, conforme a imagem mostra:

![screen shot 2018-07-06 at 1 00 37 pm](https://user-images.githubusercontent.com/17516861/42388734-df3b2024-811c-11e8-88b4-186f43f2b8a9.png)

[2018-07-09 15:04] estelanm commented on #95
A ideia era colocar um botão no menu lateral.
Vc consegue colocar, no menu lateral, um hipertexto "Baixe aqui o Plano Nacional de Empreendedorismo e StartUp para a Juventude"?

Temos uma nova versão do arquivo, que precisa ser substituída. Segue:

[Plano Nacional de Startups_VISUALIZAÇÃO_ (1).pdf](https://github.com/IBICT/noosfero/files/2176741/Plano.Nacional.de.Startups_VISUALIZACAO_.1.pdf)

[2018-07-09 15:13] estelanm commented on #97
Novo banner com dimensões corretas HEADER

![cover_portal_snj_periodo_eleitoral_b](https://user-images.githubusercontent.com/34688898/42459062-74e38fd4-8371-11e8-9417-35b3d36a46fc.jpg)

[2018-07-09 15:22] estelanm commented on #97
Imagem para colocar no FOOTER, no lugar do logo do Governo do Brasil.
Essa img tem fundo transparente

![whatsapp image 2018-07-09 at 12 21 15](https://user-images.githubusercontent.com/34688898/42459735-afeea6a8-8372-11e8-8c8f-f71027ac88b8.jpeg)

[2018-07-09 17:27] estelanm commented on #97
Retificando: podem apenas retirar o logo do governo do brasil do footer e deixar sem nada

[2018-07-09 17:32] maxbborges commented on #97
Foi alterado o FOOTER, retirando o logotipo, como solicitado. Quanto ao HEADER, para modificação da imagem é necessário permissão de modificação, foi solicitado essa permissão e estamos aguardando a aceitação para que possa ser realizado a modificação.

[2018-07-09 18:42] estelanm commented on #97
![whatsapp image 2018-07-05 at 15 55 29 5](https://user-images.githubusercontent.com/34688898/42469653-bba19ef8-838e-11e8-9dde-b2bc88287ba5.jpeg)
![whatsapp image 2018-07-09 at 15 41 32](https://user-images.githubusercontent.com/34688898/42469655-bbc63a06-838e-11e8-8cc2-6f924fdd6b4a.jpeg)
![whatsapp image 2018-07-09 at 15 40 12](https://user-images.githubusercontent.com/34688898/42469656-bbe6dce8-

[2018-07-09 19:23] maxbborges commented on #97
Todas as alterações foram realizadas.
Caso esteja de acordo, favor fechar a issue.

[2018-07-09 20:33] estelanm commented on #97
banner do header só aparece na página inicial. Verificar porque não aparece nas comunidades e notícias...

[2018-07-10 18:35] maxbborges commented on #97
Para solução do problema, será necessário abrir uma OS em Portal/Juventude/Manutenção, em anexo é necessário colocar o novo banner com tamanho de 1735x150 e nome bg-juventude.jpg.

[2018-07-11 21:37] estelanm commented on #97
Alinhar o tamanho das imagens no bloco central de programas....

[2018-07-12 17:19] estelanm commented on #95
[Plano Nacional de Startups_VISUALIZAÇÃO_.pdf](https://github.com/IBICT/noosfero/files/2189568/Plano.Nacional.de.Startups_VISUALIZACAO_.pdf)

NOVA VERSÃO DO ARQUIVO

[2018-07-13 14:21] FabioDsg commented on #95
A alteração foi realizada.

[2018-07-13 14:29] FabioDsg commented on #97
O tamanho das imagens foi alinhado.

[2018-07-13 18:24] estelanm commented on #97
O banner nas páginas de navegação, comunidades e etc. continua o antigo. Abri a OS e enviei a img pro email da Nayanne

[2018-07-13 18:27] estelanm commented on #95
Pode fechar a issue @FabioDsg

[2018-07-16 12:48] #95 closed, assigned to nobody

[2018-07-17 14:19] joenio commented on #97
alteramos a imagem para se adequar ao layout, estamos alterando neste momento nos servidores de produção.

![bg-juventude](https://user-images.githubusercontent.com/44172/42823135-3284b864-89b3-11e8-9b22-14dae5b73a7d.jpg)

[2018-07-17 14:58] joenio commented on #97
oi @estelanm, a alteração do banner foi feita.

[2018-07-17 14:58] #97 closed, assigned to nobody

[2018-07-18 19:12] maxbborges commented on #69
Nesse commit foi adicionado informações exclusivas dos blocos de youtube e twitter.
Para esses blocos foram colocados uma classe chamada youtube-block e twitter-block, respectivamente.

https://gitlab.com/noosfero-themes/juventude-responsivo/commit/5f557a31cd6c1d5371596c69581366e2cb44b1b8

[2018-07-19 18:08] estelanm opened #98 "Banner Header"
Gnt, o banner do header voltou a ser o antigo o.O...

[2018-07-20 17:12] estelanm opened #99 "Substituir arquivo PDF"
Boa tarde,
Tivemos mais alterações no arquivo que fica disponível para download, no menu lateral esquerdo, da comunidade "Plano de Startups". Favor atualizar pelo correto:

[Plano Nacional de Startups_VISUALIZAÇÃO_2007.pdf](https://github.com/IBICT/noosfero/files/2214793/Plano.Nacional.de.Startups_VISUALIZACAO_2007.pdf)

[2018-07-20 18:08] estelanm commented on #99
atualizado

[2018-07-20 18:08] #99 closed, assigned to nobody